[2012-05-04 12:30] ghost opened #1 "issue in gmvault"
I have this problem for that

[2012-05-04 12:32] #1 closed, assigned to gaubert

[2012-05-07 15:08] davidweterings opened #2 "TypeError: 'NoneType' object is not iterable while trying default sync"
- What version of Gmvault do you use ?

Gmvault v1.0-beta
- On what Operating System (Linux flavour, MacOSX, Win7/XP/Vista) ?

Windows 7
- Type of requests (Bug, documentation issue, features) ?

Bug
- Explain the request subject (issue details, feature details):

Note I did not install it to default Program Files (I installed it on another hdd). Problem occurs with and without admin privileges.

[2012-05-07 16:03] KeyvanJS opened #3 "Full backup only downloads last 1000 emails on googleapps email account"
This command
`gmvault sync -d E:\mail user@example.com`

Only backed up 1000 emails, in an account that easily has 5000 emails.
In the documentation default is set to Full backup?

`Result:
get all existing ids from disk
got all existing ids from disk nb of ids to check: 1000
Number of reconnections: 0.
Number of emails quarantined: 0.
Number of emails that could not be fetched: 0.
Number of email

[2012-05-07 17:32] joshkerr opened #4 "Fails after processing 1700 emails with "Cannot reach the gmail server""
It fails on the same exact email each time.  Can't check the log file because I'm not sure where it is.

[2012-05-07 19:23] ituri opened #6 "cannot execute binary file"
Hi,

I've got some problems with gmvault on Linux. Here's some information about my system:

v1.0-beta

CentOS 5 (2.6.18-274.12.1.el5xen #1 SMP Tue Nov 29 14:18:21 EST 2011 x86_64 x86_64 x86_64 GNU/Linux)

It's a bug, I suppose.

When I try to start gmvault, I get the following error:

[code]

Any ideas?

[2012-05-07 19:25] dwradcliffe opened #7 "restart option is not available"
My first sync attempt failed after email 9035 (throttled) so I'd like to use the restart feature. Using `gmvault sync --restart` results in an error:

[code]

[2012-05-07 21:20] hebner opened #8 "Execution fails on Ubuntu 12.04"
When I try to run this on Ubuntu 12.04 I get the following error:

gmvault-v1.0-beta/bin$ ./gmvault
Could not find platform independent libraries <prefix>
Could not find platform dependent libraries <exec_prefix>
Consider setting $PYTHONHOME to <prefix>[:<exec_prefix>]
ImportError: No module named site

[2012-05-07 23:36] melpomene opened #9 "Error 'NoneType' object is not iterable. For more information see log file"
Using the OS X version (Gmvault v1.0-beta) I get the following error when I return from OAUTH.

Successfully read oauth credentials.
Connect to Gmail server.
Error 'NoneType' object is not iterable. For more information see log file

I started the program with the following command:
./gmvault sync -e my@email.com

[2012-05-08 01:02] DanielHeath opened #10 "gmvault must be run from a specific directory"
$ bin/gmvault
bin/gmvault: line 43: /Users/danielheath/projects/gmvault/../lib/python-lib/bin/python: No such file or directory

Could gmvault detect the right load path instead of requiring that it be run from a specific folder?

[2012-05-08 03:08] nifgraup opened #12 "feature request: indexing and search"
using mailpile, https://github.com/pagekite/Mailpile

[2012-05-08 03:25] rouge8 opened #13 "Cannot find the python executable to set env var PYTHON_BIN"
When gmvault is installed with `pip install --user gmvault`, attempting to run `gmvault sync foo@bar.com` fails with the following error:

[code]

Editing the the `gmvault` script to set `$PYTHON_BIN=python` fixes it, but that's probably not ideal.

[2012-05-08 07:47] rouge8 opened #14 "Download chats?"
Is it possible for gmvault to download chats? It doesn't look like the `full` sync does so, and I even tried a custom search (`gmvault sync -t custom -g 'is:chat' foo@bar.com`) and they still didn't download.

I have the chats label enabled in the POP/IMAP tab of my account settings.

[2012-05-08 08:05] #2 closed, assigned to nobody

[2012-05-08 08:32] #9 closed, assigned to gaubert

[2012-05-08 08:41] krzyk opened #15 "Problem with PYTHONHOME"
When I run the application on Debian linux I get:
./gmvault
Could not find platform independent libraries <prefix>
Could not find platform dependent libraries <exec_prefix>
Consider setting $PYTHONHOME to <prefix>[:<exec_prefix>]
ImportError: No module named site

[2012-05-08 09:18] gaubert opened #16 "add renew/delete oauth token from command line"
like for the password. Add the possibility to renew the oauth token from the command line

[2012-05-08 10:56] #3 closed, assigned to gaubert

[2012-05-08 12:21] jarofgreen opened #18 "Typo in docs?"
http://gmvault.org/install.html

"It is recommended to have on**_E**_ local email repository per account but with the option -m , --multiple-db-owner you can backup multiple Gmail accounts in one repository."

[2012-05-08 12:31] jarofgreen opened #19 "Debian Testing; complete failure"
Installed by:
wget https://github.com/downloads/gaubert/gmvault/gmvault-v1.0-beta-MacOSX.tar.gz
tar zxvf gmvault-v1.0-beta-MacOSX.tar.gz
cd gmvault-v1.0-beta/bin

james@debian:~/gmvault-v1.0-beta/bin$ ./gmvault sync ############
/home/james/gmvault-v1.0-beta/bin/../lib/python-lib/bin/python: 1: /home/james/gmvault-v1.0-beta/bin/../lib/python-lib/bin/python: Syntax error: "(" unexpected

My install

[2012-05-08 13:10] zanshin opened #20 "Error 'NoneType' object is not iterable."
Downloaded gmvault-v1.0-beta onto a Mac running Mac OS 10.7.3 (Lion).

Successfully connected using OAuth but unable to read any mail due to error. Here is the complete console:

○ ./gmvault sync mark.nichols@gmail.com

Use gmvault-db /Users/mark/gmvault-db.
Oauth will be used for authentication.

Use oauth credentials from /Users/mark/.gmvault/mark.nichols@gmail.com.oauth.
Successfully read oauth

[2012-05-08 13:12] #19 closed, assigned to gaubert

[2012-05-08 13:24] #18 closed, assigned to nobody

[2012-05-08 13:25] jamesandres opened #21 "Sync does not continue where it left off"
Each time I run `./gmvault sync my.email@gmail.com` it processes emails 1 through 6000 (or so) then crashes with oauth issues.  When I restart, it is back at 1 again.

To be clear, it is definitely downloading the same emails again and again because the size of my gmvault-db is not changing at all anymore (it hit 266985472 bytes and isn't growing beyond that).  Interestingly that is just a hair be

[2012-05-08 15:19] miggaiowski opened #23 "imap-req not working"
I tried running this command to get the e-mails from where it had stopped:
`./gmvault sync --type=custom --imap-req 'Since 1-Nov-2008 Before 10-Nov-2010' 'myemail@gmail.com'`
I got this error:
`gmvault: error: unrecognized arguments: Before 10-Nov-2010 myemail@gmail.com`

I've also tried this:
`./gmvault sync --type custom --imap-req 'Since 1-Nov-2008' 'myemail@gmail.com'`
With error:
`gmvault: er

[2012-05-09 06:22] pfsung opened #24 "error when restoring mail"
using windows gmvault 1.0beta

when restoring mail to another address

I get this error:

Restore email with id 1372317707363560697.
Error 'int' object has no attribute 'split'. For more information see log file

[2012-05-09 10:34] #13 closed, assigned to gaubert

[2012-05-09 11:07] #10 closed, assigned to gaubert

[2012-05-09 12:21] #16 closed, assigned to gaubert

[2012-05-09 12:24] #7 closed, assigned to gaubert

[2012-05-09 20:06] jpcaruana opened #25 "MaxOSX : image not found"
Hi,

when I try to launch gmailvault, I've got the following :

[code]

MacOSX 10.6.8

[2012-05-09 20:21] dmd opened #26 "typo on home page"

[2012-05-10 07:09] #26 closed, assigned to nobody

[2012-05-10 09:15] namelessjon opened #29 "Suggestion: Option to disable email compression"
I'd like to be able to easily disable the use of gzip compression on the archived emails, in favour of being able to compress them myself for long term storage using a better compression algorithm like xz.

[2012-05-11 15:21] #29 closed, assigned to gaubert

[2012-05-12 12:37] #4 closed, assigned to gaubert

[2012-05-12 12:38] gaubert opened #30 "Enhance Error Reporting"
The error reporting needs to be enhanced and saved somewhere in a file.
Create a format that could be reused by a tool to clean these emails out from Gmail

[2012-05-13 18:43] MarkSte opened #31 ""Duplicate folder name" during restore"
New user of v1.0-beta. Happy user. I downloaded all 20,000 emails from one Gmail account and restored them to another. Everything worked, even more easily than I hoped.

So, then I tried the same thing with another Gmail account. Downloaded all 2,000 emails as problem-free as before. But when I went to restore them to another Gmail account, only two of the emails were restored before I hit this er

[2012-05-13 19:53] #21 closed, assigned to gaubert

[2012-05-13 19:53] #23 closed, assigned to gaubert

[2012-05-13 19:53] #24 closed, assigned to gaubert

[2012-05-16 12:27] gaubert opened #32 "Add clean Windows installer/uninstaller"
Add a windows uninstaller that cleans the Gmvault installation.
Integrate Gmvault in Windows in order for it to be uninstallable from the Control Panel Remove Program.
Have a proper installation that do not need Admin privileges (No install in C:\Program Files)

[2012-05-16 12:27] #32 closed, assigned to gaubert

[2012-05-16 12:57] gaubert opened #33 "Print Exception on Screen when error"

[2012-05-16 12:57] #33 closed, assigned to gaubert

[2012-05-16 20:48] kseistrup opened #34 "No attribute ‘InternalDate’"
The imapclient module makes use of imaplib2's InternalDate and Mon2Num.  However, in imaplib2 those objects aren't exposed in the **all** declaration and thus gmvault fails:

[code]

This is Python 2.7 on Ubuntu 10.04.  imaplib v2.28, imapclient v0.81, gmvault v1.5-beta.

Cheers.

[2012-05-17 13:13] #25 closed, assigned to gaubert

[2012-05-18 13:08] hrafnkell opened #35 "gmvault sync -t custom -g 'in:labelname' not working"
I'm running the latest version of the gmvault (installed via the windows installer, downloaded today) on Win7. When I try backing up a specific label then nothing gets downloaded:

[code]

Note that searching web gmail for in:labelname returns plenty of results. Running gmvault sync email@gmail.com works fine.

Am I doing something wrong or is this an actual issue?

[2012-05-18 14:53] Edke opened #36 ""No module named response_parser" while building on Arch Linux"
Hello.

I'm trying to create PKGBUILD for Arch Linux. I'm not very experienced in python, therefore maybe I'm missing something.

My PKGBUILD is plain simple. But building using "pip install gmvault" gives me following error:

    Downloading/unpacking gmvault
      Downloading gmvault-1.5-beta.tar.gz (51Kb): 51Kb downloaded
      Running setup.py egg_info for package gmvault
        PATH = /home/

[2012-05-18 16:52] dennisse opened #37 "Using --encrypt on Ubuntu 11.10 gives Error: file() argument 2 must be string, not int."
Hi,

I get this error on Ubuntu 11.10 (Error: file() argument 2 must be string, not int.) when I try to use the --encrypt option. Here is the terminal output: http://pastebin.com/A1gYphTP

I'm guessing this might be a local issue, but since I can't seem to find anywhere to ask I'm submitting it.

[2012-05-18 20:24] jdrewsteiner opened #38 "Cannot get XOAuth token from Gmail"
Below is the error that I get wen I try to sync my gmail account.  It is not allowing me to authenticate for some reason.  I'm attempting this on Windows Home Server 2011 (essentially Win 7).  I am behind a firewall and a router if that makes a difference.  Also, there does not appear to be an issue with the time.  Thanks.

---

Welcome to gmvault (version 1.5-beta).

Run gmvault --help to display

[2012-05-19 06:21] beemshake opened #39 "Bad CPU type in executable on MacOS?"
Running 1.5 on Mac OS 10.6.8, I get the following:

% ./gmvault sync myemail@gmail.com
./gmvault: line 28: /Applications/gmvault-v1.5-beta/lib/gmv_cmd.app/Contents/MacOS/gmv_cmd: Bad CPU type in executable

This is an older Mac, the processor is a 1.66GHz Intel Core Duo.  Does it lack some feature that your app needs?  Any ideas?

thanks!

[2012-05-19 12:57] materemias opened #40 "ValueError: No JSON object could be decoded"
running 1.5beta on linux I have the following error after processing a few thousand emails with enabled --debug option:

Cannot read file 1270201418045012345.meta. Try to fetch the data again
Traceback (most recent call last):
  File "/home/ratson/Downloads/gmvault-1.5-beta/local/lib/python2.7/site-packages/gmv/gmvault.py", line 547, in check_email_on_disk
    return a_gstorer.unbury_metadata(a_id

[2012-05-22 07:59] #20 closed, assigned to gaubert

[2012-05-22 07:59] #40 closed, assigned to gaubert

[2012-05-22 13:04] #15 closed, assigned to gaubert

[2012-05-23 19:32] slknijnenburg opened #42 "MemoryError on large restore"
After restoring the first 19050 emails to a new gmail address (migrating from an old one), I received the following exception (win7 x64, 6gb ram, gmvault 1.5-beta):

Restore email with id 1319881181591886388.
Error: .

=== Exception traceback ===
Traceback (most recent call last):
  File "gmv_cmd.py", line 515, in run
  File "gmv_cmd.py", line 423, in _restore
  File "gmvault.pyc", line 1032, in r

[2012-05-24 07:48] gaubert opened #43 "make --type quick configurable"
Instead of syncing the last 2 months, make it configurable to only sync the last x days.

[2012-05-24 12:53] #34 closed, assigned to gaubert

[2012-05-24 12:53] #37 closed, assigned to gaubert

[2012-05-25 10:34] manuelmeurer opened #44 "ImportError: No module named gmv.gmv_cmd"
Getting this after installing via `pip`:

[code]

I noticed Python 2.6 and 2.7 installed:

[code]

So I uninstalled `python2.7` and `python2.7-minimal` and now I get

[code]

Even if I set `PYTHON_BIN` it doesn't work:

[code]

I might have messed it up and it might now be directly related to Gmvault but I would appreciate any ideas how I could solve this...
Thanks!

[2012-05-28 11:14] kristofferR opened #45 "Hangs on specific email, eats up all computer memory and CPU until full system hang"
I've been trying to backup my Gmail account using the standard command (./gmvault sync email) a few times now, but unfortunately it always hangs on a specific email (num 7045 of 13213).

While it moves smoothly through the previous 7044 emails, it stops moving on #7045 while consuming all the available memory. This morning I woke up to the OS X out of memory window, with most of the other apps on

[2012-05-31 19:54] msztolcman opened #46 "TypeError: file() argument 2 must be string, not int"
After run gmvault (installed via virtualenv & pip), I got:

`Traceback (most recent call last):
  File "/Users/mysz/gmvault/lib/python2.7/site-packages/gmv/gmv_cmd.py", line 511, in run
    self._sync(args, credential)
  File "/Users/mysz/gmvault/lib/python2.7/site-packages/gmv/gmv_cmd.py", line 464, in _sync
    db_cleaning = args['db-cleaning'], ownership_checking = args['ownership_control'], re

[2012-06-01 06:49] #46 closed, assigned to gaubert

[2012-06-01 12:12] andybak opened #47 "Gracefully handle outage when backing up to a remote directory"
I'm using a Bitcasa folder as my backup directory but the same issue would occur in any scenario where the backup location was temporarily unavailable.

The specific error in this case was:

=== Exception traceback ===
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/7.2/lib/python2.7/site-packages/gmv/gmv_cmd.py", line 511, in run
    self._sync(args, crede

[2012-06-02 12:03] #35 closed, assigned to gaubert

[2012-06-02 12:04] #31 closed, assigned to gaubert

[2012-06-03 13:07] #42 closed, assigned to gaubert

[2012-06-03 13:09] #39 closed, assigned to gaubert

[2012-06-04 19:36] #38 closed, assigned to gaubert

[2012-06-05 15:37] gaubert opened #48 "issue when CTRL^C as the .meta file can be zero bytes"
=== Exception traceback ===
Traceback (most recent call last):
  File "/Users/gaubert/Dropbox/gmvault-data/gmvault-1.6-beta-release/gmvault-v1.6-beta/lib/gmv_cmd.app/Contents/Resources/gmv_cmd.py", line 527, in run
  File "/Users/gaubert/Dropbox/gmvault-data/gmvault-1.6-beta-release/gmvault-v1.6-beta/lib/gmv_cmd.app/Contents/Resources/gmv_cmd.py", line 437, in _restore
  File "gmvault.pyc", line 9

[2012-06-07 05:22] jarsac opened #49 "update documentation on how to use the --encrypt option?"
how to use this option to backup?
how to use this option to restore?

[2012-06-08 12:25] gaubert opened #50 "throttle upload bandwidth"
Might need to throttle the bandwidth when restoring emails

[2012-06-09 11:03] #6 closed, assigned to gaubert

[2012-06-12 12:50] gaubert opened #51 "infinite looping due to SSL suppress_ragged_eofs=True option"
This is created when SSL return EOF. It will eat all the CPU because of that.

[2012-06-13 03:05] burkemw3 opened #52 "Error: Cannot find the python executable to set env var PYTHON_BIN on Mac 10.6"
When I run gmvault I get the following error:

[code]

The only thing I've found like this is issue #44, but it doesn't look quite the same. I do not see any visible effect from setting the  PYTHON_BIN environment variable.

I have tried various methods installing gmvault including in a virtualenv and with pip and easy_install. I have removed gmvault with pip. After removal and a locate.database u

[2012-06-14 02:41] #52 closed, assigned to gaubert

[2012-06-15 08:09] gaubert opened #53 "python 2.6 needs argparse"
argparse is not included by default in python2.6 and needs to be pulled from pypi. Modify setup.py to handle that.

[2012-06-15 09:52] #44 closed, assigned to gaubert

[2012-06-16 14:35] manuelmeurer opened #54 "MemoryError"
Getting this error:

[code]

Now I restarted (`gmvault sync me@gmail.com --restart`) and it seems to work.
I'll report back if the error occurs again.

[2012-06-17 15:44] manuelmeurer opened #55 "Encryption"
On http://gmvault.org/ it says Gmvault can encrypt the backed up mails.
I couldn't find any info on that in the documentation. Is this a feature that's planned for the future?

[2012-06-17 21:38] manuelmeurer opened #56 "Sync to S3"
I have written a blog post on how I sync the created backups to S3: http://www.krautcomputing.com/blog/2012/06/17/how-to-upload-your-gmvault-backups-to-s3/
If you think others might want to do this too, I could add it to the README.

[2012-06-20 18:53] Najihel opened #57 "Change path of oauth token"
Hi,

I save my mailboxes in :

/media/BackUp/Mails/#user#@gmail.com/

and I would like to put all my oauth tokens in :

/media/BackUp/Mails/.gmvault/.

To run backups as follows :

gmvault sync #user#@gmail.com -d /media/BackUp/Mails/#user#\@gmail.com/@gmail.com/ -o /media/BackUp/Mails/.gmvault/

But it doesn't work ...

gmvault: error: unrecognized arguments: /media/BackUp/Mails/.gmvault/

Any id

[2012-06-24 14:22] #55 closed, assigned to gaubert

[2012-06-24 14:23] #56 closed, assigned to gaubert

[2012-06-24 21:15] #57 closed, assigned to gaubert

[2012-06-25 10:03] #54 closed, assigned to gaubert

[2012-06-30 11:47] robinfourdeux opened #58 "Export all in the same folder"
Hi everybody,
I search to export my all gmail account with GMVault but in the same folder, by default GMVault export in a folder by month.
It's possible by default ? Or i modify a python file ?
Cheers,
Robin

[2012-07-12 19:51] #43 closed, assigned to gaubert

[2012-07-19 19:27] #45 closed, assigned to gaubert

[2012-07-19 19:28] #51 closed, assigned to gaubert

[2012-07-19 19:28] #14 closed, assigned to gaubert

[2012-07-20 10:41] Najihel opened #59 "GMVault & cron"
Hi :)

I would like to launch GMVault with cron, but cron doesn't find my XOAuth token ...

Below, here is the result mail of cron :
######

Odd. Use default python2.7.x distribution

Use gmvault-db located in /media/BackUp/Mails/XXXX_YYYY.fr/.

Authentication performed with Gmail XOAuth token.

Initiate interactive session to get XOAuth token from Gmail.

gmvault will now open a web browser page

[2012-07-20 13:44] #59 closed, assigned to gaubert

[2012-07-22 22:08] reicheltd opened #60 "detected unusual traffic from your computer network"
I always get this since many many weeks :) every time I lay hands back on trying gmvault I receive this error

Our systems have detected unusual traffic from your computer network. Please try your request again later. Why did this happen?

IP address: 77.181.xx.xxx
Time: 2012-07-22T22:05:45Z
URL: http://accounts.google.com/OAuthAuthorizeToken

[2012-07-31 21:33] mdwheaton opened #61 "Metadata not encrypted"
Encryption is a great feature for the emails, thank you!
However, the metadata file for each email is not encrypted. A lot of information about a person can be gleaned from unencrypted label titles and subjects.

[2012-08-08 18:27] #60 closed, assigned to nobody

[2012-08-09 07:11] gaubert opened #62 "make size of encrypt secret token configurable"
Some users find the size too small and would like to increase it.

[2012-08-09 07:13] gaubert opened #63 "Make Gmvault compliant with Apple mail client"
Users of the Apple Mail client need to hide All Mail from IMAP as otherwise their emails is downloaded twice.
Then they make Inbox some labels and Sent visible.
Would need to make the sync based on these folders.

[2012-08-09 17:08] dsl101 opened #64 "Problems restoring to alternate gmail account"
Backup worked perfectly first time (14,500 emails), but I've not been able to get a restore to work at all. Mostly it will fail after a few dozen messages are uploaded, so I turned on debugging. Then it ran for several hours, but eventually failed - whether for the same reason as previously I'm not sure. What's odd is that if gm_id is effectively a sequence number, how did it get to more than 14,5

[2012-08-09 19:04] #49 closed, assigned to nobody

[2012-08-09 19:04] #53 closed, assigned to gaubert

[2012-08-12 13:56] Iristyle opened #65 "Gmvault.org - "For security reasons, framing is not allowed""
Latest Chrome dev release will not load the page gmvault.org

The issue has cropped up on other sites using Github buttons from markdotto.github.com, like gmvault does.

See similar reported issue (with fix) here on the HTML5 boilerplate tracker:
https://github.com/h5bp/mothereffinganimatedgif/issues/48

[2012-08-13 08:31] #65 closed, assigned to nobody

[2012-08-15 21:03] tazir opened #66 "Cannot install in Ubuntu 12.04 (32 bit)"
Just tried to install gmvault 1.7-beta

Python installation:
python setup.py install
Traceback (most recent call last):
  File "setup.py", line 20, in <module>
    from setuptools import setup, find_packages
ImportError: No module named setuptools

PIP installation:
sudo pip install gmvault
Downloading/unpacking gmvault
  Downloading gmvault-1.7-beta.tar.gz (73Kb): 73Kb downloaded
  Running setup.

[2012-08-16 11:45] frcepeda opened #67 "Misspelling"
When you initiate a quick sync, you get the following message:

[code]

_Quikc_ should read _quick_.

[2012-08-16 12:02] #67 closed, assigned to nobody

[2012-08-16 14:52] vasi opened #68 "Export to Maildir format"
As suggested on Hacker News ( http://news.ycombinator.com/item?id=4390504 ), it would be great if gmvault could export to a standard mail storage format like maildir.

I did some experimentation, and just  creating a maildir structure and dumping the uncompressed contents of the *.eml.gz files into it works fine with Dovecot's maildir support. A file like db/2012-06/1403604702094745518.eml.gz beco

[2012-08-16 15:03] vasi opened #69 "Quick sync doesn't update \Seen flag"
If I "mark as read" on a message in Gmail, and then do a quick sync with gmvault, the \Seen flag is unmodified in my gmvault-db.

[2012-08-17 10:13] davea opened #70 "--resume should be default behaviour if partial backup exists"
I started using gmvault yesterday, but it didn't complete the initial backup of 50k+ messages before I had to interrupt it.

Upon wanting to resume the backup this morning I re-ran the initial command I'd used, `gmvault sync xxxxxxx@gmail.com`, and it immediately started the backup from scratch, starting again at the very beginning of my Gmail messages.

As soon as I noticed this is what it was do

[2012-08-17 11:33] #70 closed, assigned to gaubert

[2012-08-17 11:35] gaubert opened #71 "Should resume be optional or activated by default"
Should review if the incremental sync should not be activated by default. If it is not then should add a --restart-from to force Gmvault to restart from a given id.
Maybe this option should be always there if a user want to "reprogram" its Gmvault.

[2012-08-17 11:37] gaubert opened #72 "[Promoted Feat] Make a Silent mode"
Create a --silent to have a non verbose run ending in error with the error message

[2012-08-17 15:01] gaubert opened #73 "add some documentation regarding backup of attachments"
Users asked about attachments. Put somewhere in the doc that they are saved.

[2012-08-18 22:20] bootstraponline opened #74 "Ubuntu 12.04 x64 issues"
It'd be nice if the install process was documented for Ubuntu 12.04 LTS. I had to run the following:
[code]

Is it necessary to have `echo "Odd. Use default python2.7.x or 2.6.x distribution."`? I setup PYTHON_BIN and the message still appears on every invocation of gmvault.

[2012-08-19 20:35] takluyver opened #75 "Time calculations wrong when chats synchronised after emails"
Doing a full sync of emails and chats, the chat portion gives me messages like this:

[code]

The count it's reporting (800) is only chats, but the time taken (3h 24m 59s) includes synchronising emails. This throws the time estimate off as well - the remaining 380 finished in under a minute.

I could have a go at fixing it myself, but is there an easy way to test without it touching my email accou

[2012-08-20 15:09] SamirSaidani opened #76 "No Chat backup for foreign language (localization problem)"
I've tried to perform a complete backup, it works well but when using french language, it seems that Chat conversations are not backed up. When I change the language interface for english, it's working.

[2012-08-24 13:22] online opened #77 "[Gmvault] Instructions for Russian users"
Hello.

Wrote a guide for Russian users in [my blog](http://mydb.ws/2012/08/17/gmvault-bekap-pochty-gmail-i-perenos-dannyx-v-drugoj-akkaunt.html). Please add a link to the instructions in [README.md](https://github.com/gaubert/gmvault/blob/master/README.md). Thanks.

[2012-08-27 18:16] MrGALL opened #78 "Anonymous on account activity"
Gmail has account activity list ("Last account activity: Details" on the bottom of Gmail Inbox)

Entry for Gmvault:

Authorized Application (anonymous)
Client Id (unverified):
OAuth Domain Name: anonymous

Entry for Backupify (for reference):

Authorized Application (Backupify)
Client Id (unverified): "name: Backupify" "version: 1.0"
OAuth Domain Name:  backupify.com

[2012-08-31 04:50] izaakm opened #79 "Gmvault only restores ~10 emails before disconnecting"
So, first of all, I don't have much experience with the command line, so I'm sorry if my problem is something obvious.

Gmvault v1.7
MacOSX 10.8.1
Bug (or possible user error?)

Anyway, I backed up all of my email from my 'source' account with no problems and now I want to restore it to a different 'destination' account.

I have tried a variety of 'restore' commands (with different options: labels

[2012-08-31 17:22] vasi opened #81 "Incremental syncing is much too slow"
I have set up a small Gmail account with 5000 messages. I already did an initial sync with gmvault. When I do a full sync in order to update my backup, it takes about 7m30 to complete. Even if I just did a sync moments before, it still takes gmvault seven minutes to figure out that it has nothing to do.

In comparison, when I do this using OfflineIMAP, it takes only 8s to complete. It's much faste

[2012-09-03 20:55] #64 closed, assigned to gaubert

[2012-09-03 21:24] dsl101 opened #82 "Discrepancy in number of emails as reported by gmail"
I've now managed to complete a full sync and restore (to a different account), and on the face of things, all went well. However, something which I was hoping to reassure myself with was to look in the 'All Mail' label on Gmail, and confirm the same number of conversations. However, this is what I see:

Source account: 6855
Restored account: 7452

It would obviously be more worrying if it were the

[2012-09-10 02:29] MrTrillian opened #84 "GMVault should compress files before encrypting them"
Seeing from the extensions of the encrypted files created by GMVault (.eml.crypt.gz) and from their content, it seems that GMVault first encrypts the files and then compresses them. If I'm not mistaking, doing so completely destroys the purpose of the compression as the encryption creates entropy that should make the file essentially incompressible.

Files should be compressed before being encrypt

[2012-09-10 11:22] dsl101 opened #85 "(Minor) Windows gmvault shell launches and resizes off screen"
When I launch the default 'as installed' gmvault shell via the start menu, it immediately resizes the console window to the full screen height - and so most of the window ends up off the bottom of the screen. Not a major problem, just a slight annoyance that I have to resize it every time to avoid commands / logs going out of view.

Cheers,

Dave.

[2012-09-17 19:33] Rragen opened #86 "Issues with some labels"
Hi,

I have 2 or 3 differents issues, I'm going to create a topic for each one of them so that people can find the information easier. I'm not a flooder ^^

I'm moving all the mails from a Google App account to an other, and gmvault is perfect for that job !
It works fine for most accounts, but I've encountered an issue with a label named "Afill / Market" during the restoration.

The error message

[2012-09-17 19:44] Rragen opened #87 "It worked, and it di "socket error""
Hi again,

On a mailbox that contains about 60k mails, sync was OK, restoration was OK for ~ 10K mails, and now I have this error :
http://pastebin.com/ZJVGnKgM

gmvault still works fine with other accounts from the same GoogleApp, but impossible to pass this issue.

Thanks for your help.

[2012-09-20 08:04] kstjtfcq opened #88 "backup Trash & Spam folder"
Hi!
My GMVault does not a backup of Trash & Spam folder ...
Do you know why?
Thank you,

[2012-09-20 11:38] gaubert opened #89 "upgrade pn windows to python 2.7.3 dll to avoid having worried user"
Secunia software whines about python 2.7.dll .
It is irrelevant for Gmvault but will upgrade to avoid having worried users.

See here:
http://secunia.com/advisories/48347/
http://bit.ly/Vg2N4J

[2012-10-04 07:49] gaubert opened #90 "Selectively restore labels"
Add the possibility to only restore some labels instead of restoring the full gmvault-db content

[2012-10-20 08:12] martey opened #91 "License confusion"
The [website](http://gmvault.org/) and source code headers claim that the project is available under the [GPL 3.0](http://www.gnu.org/licenses/gpl-3.0.html), but the project includes [a copy of the AGPL 3 license file](https://github.com/gaubert/gmvault/blob/master/GNU-AGPL-3.0).

I think that if the project is AGPL with GPL3 components, or vice-versa, this should be more clearly stated.

[2012-10-22 14:30] keltia opened #92 "While reading the mailbox, caching a list of all known labels somewhere would be nice."
I have a script that takes a full gmvault-db and creates a Maildir-based mbox for a given tag.  Having GMVault pre-cache in its directory a list of possible tags would be nice (json for example).  I could use it myself.

Anyone interested can look at http://bitbucket.org/keltia/gmail-utils

[2012-10-24 15:40] #79 closed, assigned to gaubert

[2012-10-24 15:48] #75 closed, assigned to nobody

[2012-10-24 15:49] #48 closed, assigned to gaubert

[2012-10-24 16:06] #66 closed, assigned to gaubert

[2012-10-29 04:36] aseemk opened #93 "Last (?) step of sync fails when existing db is encrypted (I think)"
Hey there,

Great work again on Gmvault! I chose to encrypt my database, and every sync after the first (or maybe it's just quick; I don't remember if I've done a full sync again after the first one), I get this error at the end:

[code]

Context:

[code]

Hope this helps!

[2012-11-03 12:57] poolis opened #94 "Cleaning up of the database is failing when using encryption in WHS"
Trying to use gmvault (Gmvault v1.7.w1-beta) on Windows Home Server SP2.  Seems to work fine except when trying to clean up the database.

Using the following command line options:

 sync -t quick -e -d

delete phase fails with following error:

=== Exception traceback ===
Traceback (most recent call last):
  File "gmv\gmv_cmd.pyc", line 641, in run
  File "gmv\gmv_cmd.pyc", line 591, in _sync
  F

[2012-11-06 21:31] #94 closed, assigned to gaubert

[2012-11-06 21:32] #93 closed, assigned to nobody

[2012-11-11 00:57] jeverling opened #95 "Add "never_delete=True" option"
I think it would be nice if there was an option to never delete emails from a backup during the cleanup phase.
Just imagine someone getting access to your account and deleting all your messages. If you have gmvault scheduled to update your backup, it would delete your messages there as well, possibly before you even notice that there is anything wrong.
Therefore I think such an option would be nic

[2012-11-11 14:37] #95 closed, assigned to nobody

[2012-11-19 15:42] #91 closed, assigned to gaubert

[2012-12-11 21:03] #69 closed, assigned to gaubert

[2013-01-04 08:12] konfetov opened #97 "SSL timeout exception when email to be restored is too large (26 MB)"
Restore command stops with the exception below when a database contains an email with a large size (26 MB).
First 15 emails restored successfully and the 16th email stops the restore procedure completely.

Is it a problem with SSL session interval? Is it possible to increase it and/or set a value as a parameter to "gmvault"?

OS: Windows 7 SP1
Gmvault v1.7.w1-beta

---

Before to Append email cont

[2013-01-07 09:21] #97 closed, assigned to nobody

[2013-01-16 14:09] gaubert opened #99 "Cannot search with non ascii characters"
Non ASCII Characters are not supported in Gmail and normal searches.
For example "label:solcelle-anlæg" doesn't work in the gmail search.

[2013-01-17 22:50] tensorfields opened #100 "Fails to delete email from db when using encryption"
Issue:
Fails to delete email from db when using encryption.

Version info

[code]

Relevant output:

[code]

[code]

[2013-01-18 14:22] #100 closed, assigned to gaubert

[2013-01-18 14:24] #99 closed, assigned to gaubert

[2013-01-18 14:25] #81 closed, assigned to gaubert

[2013-01-18 14:26] #68 closed, assigned to gaubert

[2013-01-22 21:11] gaubert opened #101 "Security: Allow users to define the secret key"
Users should be able to define their secret key use to encrypt messages

[2013-01-22 21:13] gaubert opened #102 "Security: Offer the possibility to protect the secret key with a password"
User should be able to protect the secret key with a password.
This will prevent the tool to be used in batch mode but will offer more security

[2013-01-22 21:13] gaubert opened #103 "Security: Allow other encryption algorithms"
Other encryption Algo should be allowed but then OpenSSL needs to be embedded.

[2013-01-25 13:27] #76 closed, assigned to gaubert

[2013-01-25 13:28] #89 closed, assigned to gaubert

[2013-01-28 07:46] garo opened #104 "Allow gmvault to create backups for deleted emails"
I'd be nice if gmvault could move the deleted emails into some kind of deleted folder instead of completely removing them. This would be handy in a situation where a roque user gains access to the gmail account and deletes every message from it.

[2013-02-06 08:33] bdkzero opened #105 "Cannot get working two legged oauth"
Hello,
I'm trying to use two_legged oauth method but I cannot get it working in any way.
Could you help me?

Thankyou,

Bdk

[2013-02-11 15:57] dukaras opened #107 "gmvault stops syncing after 20k emails"
For some reason the sync stops at the same email every time. I've tried removing the files surrounding the error file out of the db file. Below is the error we keep running into. Any help would be huge! Thanks.

gmvault-shell>gmvault restore m*********_@**_***.com --resume

Use gmvault-db located in C:\Users\thewigginsfam/gmvault-db.

Authentication performed with Gmail XOAuth token.

Get XOAuth c

[2013-02-14 19:57] #107 closed, assigned to nobody

[2013-02-17 20:13] #86 closed, assigned to gaubert

[2013-02-17 20:15] #8 closed, assigned to gaubert

[2013-02-18 06:09] kormoc opened #108 "Deleting encrypted emails fails"
[code]

[2013-02-18 09:02] #105 closed, assigned to nobody

[2013-02-18 17:36] #108 closed, assigned to gaubert

[2013-02-20 13:13] noscript opened #109 "Merging multiple accounts"
I didn't find anywhere how restoring actually works. I think it has to be mentioned explicatively in the documentation.

Is it possible to merge multiple accounts into one by doing a sequential restore from several backups taken from different accounts? Is the data going to be appended? How are the conflicts resolved, if any?

Thanks

[2013-02-21 21:11] #109 closed, assigned to nobody

[2013-02-24 01:08] musicjunkieg opened #110 ""Invalid Argument: Label Name Not Allowed" error when restoring to Google Apps account"
- What version of Gmvault do you use: v.1.7-beta
- On what Operating System (Linux flavour, MacOSX, Win7/XP/Vista) ? Win XP
- Type of requests (Bug, documentation issue, features) ? Bug
- Explain the request subject (issue details, feature details):
  I get the following error when restoring my email to a new Google Apps account:

Error when reaching Gmail server. Wait 4 seconds and retry up to 2

[2013-02-25 13:30] mstevens83 opened #111 "Thousands of missing emails"
Hello,

I used gmvault to backup one Gmail (Google Apps actually) account and restore the contents in another Gmail account.
The gmvault db contained 15449 and the one I was restoring to had only 24 prior to the restore. So I was expecting to see 15473 emails in "All email" after the restore, however I only have 11115. Hence, there are 4358 emails missing in action!
As far as I can tell nothing we

[2013-02-27 00:21] #111 closed, assigned to nobody

[2013-03-14 12:54] #82 closed, assigned to nobody

[2013-03-14 12:55] #87 closed, assigned to gaubert

[2013-03-15 23:59] darkkhaos opened #113 "GIMAPFetcher Exception"
Using GMVault 1.7 for a while and worked as a charm but now I'm getting this exception everytime I try to sync:

=== Exception traceback ===
Traceback (most recent call last):
  File "/Users/armando/Documents/gmvault-v1.6-beta/lib/gmv_cmd.app/Contents/Resources/gmv_cmd.py", line 523, in run
  File "/Users/armando/Documents/gmvault-v1.6-beta/lib/gmv_cmd.app/Contents/Resources/gmv_cmd.py", line 468,

[2013-03-19 16:12] #113 closed, assigned to nobody

[2013-03-21 02:27] frok293 opened #114 "Feature Request: Restore from Newest to Oldest"
Sync and restore both work from oldest to newest.  I'm restoring an acct and it will take several days to do.  It's more important I have the newer emails accessible before the older ones.  The ability to restore from newest to oldest would be very appreciated.  thanks!

[2013-03-25 17:52] mael2 opened #115 "Error: "Cannot reach the Gmail server." with Avast! Free Antivirus"
Hello,
I wanted to make a bug report right now but then I found the solution.
Gmvault stopped working recently - apparently after I switched to Avast Free Antivirus. I always got the error: "Cannot reach the Gmail server." when syncing.

So I just want to make people be aware of this. Currently I'm running Gmvault 0.8 (same problem with 0.7) and Avast 8.0.1483

Solution: For the Mail Shield, disab

[2013-03-27 11:31] gaubert opened #116 "Error message in gmvault script when perl is not present"
Issue when perl cannot be found on the target OS.

[2013-03-27 11:33] gaubert opened #117 "Support for reserved label \Muted"
\Muted is a reserved Gmail labels and emails cannot be restored in that label (folder write protected and label cannot be applied).

[2013-03-27 19:01] sriram-sridharan opened #118 "Feature Request: Notification about event status"
I was wondering if it would be possible to implement a email notification system. Something like this would be helpful for those that run gmvault via a task scheduler.

Eg.:
If the sync job is done/ has an issue, email a specified email address with some stats[Job start time, Job End time, Duration, Emails Synced, Changes, Errors etc.].

Cheers and thanks!

[2013-03-27 20:57] #115 closed, assigned to gaubert

[2013-03-28 13:02] #118 closed, assigned to nobody

[2013-03-30 13:24] gaubert opened #119 "Offer possibility to import email and messages from Gmvault"
Need an import function
- import emails in Gmail
- import messages from pidgin in Gmail/Chats
- import twitter tweets in Gmail

[2013-04-02 21:45] predicated opened #120 "UID command error: BAD ['Could not parse command']"
gmvault version: gmvault-1.8-beta
OS: Mac OS X 10.8.3
Request type: Bug

Description:
I love gmvault; it is a great tool, and I've been using it to migrate from a regular gmail account (polyblog@gmail.com) to a Google Apps gmail account (michael@polyblog.com). Syncing from the old account took over a day (I had many years' worth of emails) and completed with no errors. Restoring to the new account

[2013-04-13 16:41] curepute opened #121 "Restore Times out."
Trying to restore a 10.1 gig mail box into a new gmail account that has 25gb of space but it keeps timing out around 5gb and I get this message:

Applying labels to the current batch of emails.
Error when reaching Gmail server. Wait 1 seconds and retry up to 2 times.
Disconnecting from Gmail Server and sleeping ...
Reconnecting to the from Gmail Server.
Get XOAuth credential from C:\Users\kenneth/

[2013-04-16 19:41] #121 closed, assigned to nobody

[2013-04-19 07:56] #117 closed, assigned to gaubert

[2013-04-22 08:02] janfabry opened #122 "Custom metadata fields"
The separate metadata file is very nice to feed into a separate system, e.g. for indexing. However, then it would easy if we could add extra fields to it which we also want to send to the other system without having to parse the mail again. An example is the sender and recipient of the mail.

A possible way to do this would be to include a "plugin module" via a command line argument, which can hoo

[2013-04-25 07:08] #120 closed, assigned to gaubert

[2013-04-25 07:09] #110 closed, assigned to gaubert

[2013-04-25 07:11] gaubert opened #123 "Add ID in the IMAP conversation to allow Gmail accounting for Gmvault"
IMAP Gmail has added an ID command to send info regarding the client accessing the IMAP interface.

[2013-05-06 17:07] gaubert opened #124 "Ignore .DS_Store on Mac os X"
Issue if there is a .DS_Store created in gmvault-db. It should be ignored.

[2013-05-14 10:28] pedrocr opened #125 "Backup failed with unhandled SSL exception"
I left gmvault backing up overnight. I have around 150k messages in my gmail and it was expecting to take 20h to do it. When I came back in the morning it had failed midway with an SSL timeout exception. Unfortunately I didn't save the exception text. It seemed the problem was that the network connection was down as there were several messages before about not being able to contact the gmail serve

[2013-05-14 10:37] pedrocr opened #126 "Time estimate is innacurate on the second full sync"
If you do a full sync that stops midway for some reason and then do one again the time estimate will be off. The reason for this is that it seems to be using the average timing of the whole run and since the initial emails are very fast as they were already synced by the time you get to the unsynced emails the estimate is biased and is never corrected.

I noticed this when restarting a sync of a g

[2013-05-14 15:26] pedrocr opened #127 "gmvault doesn't set a non-zero exit status on error"
I'm making gmvault run every day with cron and want to issue an email when the backup run didn't succeed. Unfortunately it doesn't seem to set a non-zero exit status when it terminates unsuccessfully.

[2013-05-14 19:19] pedrocr opened #128 "Allow backing up all users in a given google for domains account"
I've tested today that the 2-legged oauth login can be done once and then reused for all the user accounts in a given google apps for domains account. It would be nice if you could launch a backup of all accounts in a domain in a single gmvault run, instead of having to setup a sync for each. Ideally you would also define a directory to put the databases and have each user account sync to a separa

[2013-05-24 17:43] chrisvanpatten opened #129 "Parameter to prevent browser opening on initial sync"
First off, thanks for Gmvault!

So I would love a parameter that prevents Gmvault from trying to open the Oauth page in the default browser, and instead just spits out the URL to the Oauth verification page.

This would be especially useful for server environments; for example I have an Ubuntu server with w3m installed, and unfortunately w3m can't complete the oauth verification process. Gmvault s

[2013-05-26 05:50] urda opened #130 "Make Windows Version Portable"
Instead of just the installer, it would be nice if we could download a 'portable' version of the program.

This way it can be bundled with the database, encrypted, and stored in a single place.

[2013-05-31 10:19] netvor opened #132 "internal_date in .meta file is shifted by local timezone"
Not sure if this is a bug or expected behavior so feel free to reject... I've noticed that the unix timestamp in the "internal_date" field of the .meta file is offset by the local timezone at time of retrieval. If I'm not mistaken, a unix timestamps should "the number of seconds that have elapsed since 00:00:00 Coordinated Universal Time (UTC), 1 January 1970" (Wikipedia) so this should be indepen

[2013-05-31 12:32] wizeman opened #133 "Security issue in etc/scripts/gmvault"
Hi,

Forgive me if I am wrong, but I think there might be a potentially dangerous security issue in the gmvault script that comes in the source distribution.

Specifically, at the bottom of the script, this code here:

    cat > /tmp/gmvault.bootstrap.$$ << EOF
    import gmv.gmv_cmd as runner
    runner.bootstrap_run()
    EOF

    #call gmvault bootstrap
    "$PYTHON_BIN" /tmp/gmvault.bootstrap.

[2013-05-31 21:53] ilgrank opened #134 "Custom File naming"
Hi
I've tested gmvault and it worked flawlessy on the 1st run.. great work!

There's a feature, imho, it is sadly missing in regards to Gmail Backup: custom file name saving.
It would be useful to have a file naming parser, like

--file-name "ddMMyyyy_%subject%"
or
--file-name "%sender%_%subject%"
and so on

I can think of a customizable date (with unix-style date format), from, to,subject,has att

[2013-06-05 17:57] netvor opened #135 "Successive syncs create duplicate chat objects"
I have an issue whereby successive (full) syncs cause the same chat object to be downloaded multiple times. The compressed objects are all different, yet the plaintext contents are the same:

[code]

These duplicates are not created every time. Generally when there is nothing to update (no new emails or chats) it does not happen, but when there is a new chat recorded, I _usually_ get a duplicate.

[2013-06-12 07:56] ViperRu opened #136 "DB directory depends on the email."
I have three gmail accounts. Can I write in the gmvault_defaults.conf for example:
DB_DIR = $HOME/.gmvault/$email and then run sync without DB_DIR parameter in the gmvault script.

[2013-07-03 17:41] nickrichardi opened #138 "Restore Issue - No Closing ']': <"
I am trying to restore my emails but am getting the following error:

Error: No closing ']': <

Specs: Win 8 Pro x64

Help!?!
![gmvault restore issue](https://f.cloud.github.com/assets/4428554/744921/bd777bc0-e407-11e2-9cbd-9ec7d4e7131f.png)

[2013-07-20 15:39] Kagee opened #139 "Gmvault confused by & in username (Win7)"
Version: v1.8.1-beta
Os: Win7, Norwegian locale
Type: BUG

Gmvault appears to error out if the user it is installed under has a & in their username. The user on the computer i am currently testing it on is named "Aud & Anders".
The default install path is thus "C:\Users\Aud & Anders\AppData\Local\gmvault"

Recreate: Create user with name including & on Win7.

Log from shell:
- Installed to default

[2013-08-04 20:10] nattofriends opened #140 "gmvault doesn't download chats when Gmail interface language in Japanese"
gmvault says it cannot find 'Chats' folder on server. It works when I change my interface lannguage to English US, but after I change it back gmvault still does not work.

[2013-08-16 15:22] alexpacini opened #142 "Linux: uninstall from setup.py"
I was wondering if it was possible to add an option for uninstalling directly from setup.py, removing every trace of the installation.

Something like

[code]

Should be something pretty easy as

[code]

Thanks,
Alex

[2013-08-30 06:38] argon0011 opened #143 "Error with 2-legged-auth"
Correct me if I'm wrong, but I should be able to backup any email account in my domain if I provide the enabled Domain OAuth Key/Secret?

Getting this error message after entering Consumer Key and Consumer Secret when trying to backup a user's account:
[code]
Google Apps Manager(GAM) have stopped using Consumer Key/Secret. Checkout how they've done it: https://code.google.com/p/google-apps-manager

[2013-08-31 21:38] HenrikBengtsson opened #145 "Suggestion: Change default DB directory to reflect gmail account"
The default DB directory is $HOME/gmvault-db/.  After having read all the requests/questions in the Google Group, may I suggest to migrate the default to be

  $HOME/gmvault-db/&lt;GoogleUser&gt;/

For instance, with

gmvault sync foo.bar@gmail.com

you the database would be stored in $HOME/gmvault-db/foo.bar@gmail.com/

This would spare you and several users from wasting a few brain cycles, error

[2013-09-18 19:47] stp-ip opened #146 "export folders growing after each export"
Used command:
gmvault export -d /folder /folder

I noticed that after running the export command multiple times the size grew after each export, not just by the size of the new mails, but in the end it was almost 8 times bigger than after removing the folders and exporting again. I assume about 8 exports were run.
Know issue? Did I do something wrong?

[2013-09-29 23:00] ervinshiznit opened #147 "Cannot sync. Error: Only 8 bit strings are supported"
I am using Gmvault 1.81 on Arch Linux. I was trying to run gmvault for the first time and I get an error from python when trying to sync for the first time. I have chosen to have my gmvault database stored in a non default folder with the --db-dir switch, and have also chosen to encrypt my emails via --encrypt. The output is below.

Start emails synchronization.
15939 emails to be fetched.
Process

[2013-10-08 21:28] stephengroat opened #148 "CalDAV/CardDAV Extensions"
I'm wondering if it would in the functionality of gmvault to add CalDAV and CardDAV backups as well. This way, you could completely backup the Google Suite.

[2013-10-25 14:38] ye opened #150 "Search and find emails in gmvault archived email data files"
Hi,

This is more of a question of how to search and find information in the archived data folders (which emails are downloaded, individually gzipped and attached with a meta file for sync back to Gmail.) However, I can't find an easy way to search information in piles of these gzipped archive data files. For tech savvy users, yes sure you can probably have an one-liner piping through `find`,`gunz

[2013-11-13 13:55] voltagex opened #151 "Is a failed OAuth token meant to cause this error?"
Token upgrade failed! Could not get OAuth access token.
		 Did you grant gmvault access in your browser ?
		=== Exception traceback ===
		Traceback (most recent call last):
		  File "/media/files/Email/gmvault/local/lib/python2.7/site-packages/gmv/credential_utils.py", line 112, in get_oauth_tok_sec
		    final_token = gdata_serv.UpgradeToOAuthAccessToken(request_token)
		  File "/media/files/Emai

[2013-11-27 22:39] LeoFCardoso opened #152 "Possible bug in chat restore"
- What version of Gmvault do you use ?
Gmvault v1.8.1-beta

- On what Operating System (Linux flavour, MacOSX, Win7/XP/Vista) ?
Ubuntu Linux (Linux NAS 3.2.0-55-generic-pae #85-Ubuntu SMP Wed Oct 2 14:03:15 UTC 2013 i686 i686 i386 GNU/Linux)

- Type of requests (Bug, documentation issue, features) ?
Bug

- Explain the request subject (issue details, feature details):
I'm receiving this error when

[2013-12-05 12:16] astrofrog opened #153 "TypeError when trying to sync"
I just installed the latest developer version of gmvault and tried, as a first step,

[code]

but I get the following output/error:

[code]

Any idea what might be happening?

[2013-12-18 16:42] wamatt opened #154 "Received an IMAP abort error"
I started downloading Imap messages fine. Then about 700 messages in it just freezes.

After stopping the process, I removed the .info db and quarantine  directories. And tried again. But I keep getting this error

[code]

I've also deleted /root/.gmvault config and re-authed with Google, without luck. Any ideas?

[2014-01-18 12:33] superalino opened #155 "Cannot export GMVAULT-DB to mbox or maildir on Windows 7 32bit"
- What version of Gmvault do you use ?
  V 1.8.1
- On what Operating System (Linux flavour, MacOSX, Win7/XP/Vista) ?
  Win7 32 bit (SP1)
- Type of requests (Bug, documentation issue, features) ?
  Bug
- Explain the request subject (issue details, feature details):
  I cannot export GMVAULT-DB to maildir or mbox.
- In case of bug or issue, please detail how we can reproduce the problem:
  After a f

[2014-01-24 14:14] fugedi opened #156 "Error: UID command error: BAD ['Could not parse command']."
Hi,

This is a great tool, I have exported and restored over 200000 mails now, and I got stuck here. If you need more debug info, please tell me.

Thanks for helping.

gmvault-shell>gmvault sync --type custom -c yes --imap-req "Since 31-Dec-2009 Before 1-Jan-2011" -d d:\tar\data\gmvault\ "xxxx@xxxx.xx"

Use gmvault-db located in d:\tar\data\gmvault\.

Activate Gmvault db cleaning.
Authentication p

[2014-02-17 14:15] stp-ip opened #157 "excluding labels recognized as include"
Hey when I run "-label" instead of "label" it still does the same.
--> exclude commands for labels don't seem to work

include command:

[code]

exclude command:

[code]

It seems gmvault is doing it right, but when checking the files. It actually backs up the same emails both times.

Version is 1.8.1-beta

[2014-03-01 23:28] erikvanzijst opened #158 "unicode error in gmvault.py"
I'm running 1.8.1-beta on Linux and I'm seeing crashes on unicode conversions:

    Process email num 159 (imap_id:179) from 2007-06.
    Error: 'ascii' codec can't encode characters in position 1126-1128: ordinal not in range(128).

    === Exception traceback ===
    Traceback (most recent call last):
      File "/home/erik/work/env/gmvault/local/lib/python2.7/site-packages/gmv/gmv_cmd.py", line

[2014-03-26 13:17] mpfraser opened #162 "Unable to export to offline imap in Windows"
I have set permissions on the folder and sub-folders to Full for "everyone" as well as my user.

gmvault-shell>gmvault.bat export -t offlineimap c:\temp

Export gmvault-db as a offlineimap mailbox.
Start emails export for default labels.
Error: [Error 123] The filename, directory name, or volume label syntax is incorrect.

=== Exception traceback ===
Traceback (most recent call last):
  File "gmv\

[2014-04-08 13:23] stp-ip opened #163 "Add standard imap support for backup and restore"
Let people restore, backup and move mail between gmail and their favourite imap server.

[2014-04-08 13:29] stp-ip opened #164 "Throttle backup/download bandwidth"
Throttle needed to prevent lockout from gmail.

[2014-04-24 16:56] stp-ip opened #169 "xlist usage is deprecated from google"
It is still used by gmvault or a used lib.

[2014-05-06 03:20] voltagex opened #170 "Can't install gmvault via pip"
voltagex@nightmare:/media/files/Email$ source gmvault/bin/activate
	(gmvault)voltagex@nightmare:/media/files/Email$ pip install gmvault
	Downloading/unpacking gmvault
	  Could not find a version that satisfies the requirement gmvault (from versions: 1.0-beta, 1.5-beta, 1.6-beta, 1.7-beta, 1.8-beta, 1.8.1-beta)
	Cleaning up...
	No distributions matching the version for gmvault
	Storing debug log fo

[2014-05-13 10:23] dsl101 opened #171 "Moved from XP to Win8, can't complete backup"
I just moved my original 1.7.w1-beta gmvault installation from XP to Windows 8. Apart from having to re-authenticate with gmail, all appeared to go fine, until it gets to the end. Then I see 4 errors like this:

Found 25538 email(s) in the Gmvault db.

Call Gmail to check the stored emails against the Gmail emails ids and see which ones have been deleted.

Might take few minutes ...

Received an I

[2014-05-23 07:49] aonyango opened #172 "Unable to restore my mails"
Hello,

I wanted to move my all of my emails from one account to another.  I spent hours and days syncing my account and now when I go to restore, it will only upload 84 emails of a total of nearly 30k.  Please advise what the issue could be.

[2014-06-10 01:02] frankcarey opened #173 "v1.8.1-beta-20130428"
Error: 'ascii' codec can't encode characters in position 2346-2347: ordinal not in range(128).

[2014-08-08 05:27] blankspot20 opened #177 "i cant find my sent items"
I am using Version 1.8.1
I am running it on Windows 7

I sync my email using gmvault sync my@email.add
It downloaded around 4gig worth of emails.

Now i want to restore it using gmvault restore. It actually works but it only restores the inbox and important folders.

I also want to restore my sent folder. Is this possible?

Thanks!
RJ

[2014-09-09 05:08] michaelstepner opened #178 "Implement asymmetric public/private encryption"
Since the encryption key is symmetric and must be on the same machine as the emails being encrypted, encryption provides no additional security if the machine were compromised.

It seems to me (please correct me if I'm mistaken) that the only additional security offered by encryption is that if I were to back up the database to a remote server without backing up the encryption key, the encryption

[2014-10-07 17:13] rossoscuro opened #179 "Error: 'X-GM'MSGID'"
Hi everybody,
I am transferring the content from free gmail account to new gmail business account. The transfer worked good for 2 days (there are 67000 mails, 180gb) although sometimes the connection with imap goes down but with command "gmvault sync" it restarts, performs a check for emails already downloaded and then continues with the new emails. This morning i find this error, that gives me wh

[2014-10-13 09:29] jtu100 opened #180 "Crash when export with label contains a question mark?"
If I run an export operation on Windows like so:

    gmvault export d:\emails

I get the following exception:
[code]

[2014-10-24 09:47] Champignacs opened #181 "Issue restoring to alternative gmail account"
Hi Guillaume,

Sorry for reaching out to you, I have tried all I could think of but no luck.
I have backed up a google apps account and got 56000 emails in my db.
I tried to restore to a free gmail account and it gave me:

Cannot reach the Gmail server. Wait 1 seconds and retrying.
Disconnecting from Gmail Server and sleeping ...
Reconnecting to the from Gmail Server.

I read that I should try thi

[2014-11-16 22:08] heresiarchy opened #182 "Feature: Strip labels on restore"
This switch would be great on the restore command when you don't want labels to be restored with mail, i.e. when mailboxes have different label structures

[2014-12-20 23:27] cdzombak opened #183 "Sync error: command UID illegal in state NONAUTH, only allowed in states SELECTED"
The same sync command I run every week today ran for a while, then resulted in the following error. Has anyone else seen this/does anyone have any suggestions?

The command I'm running is: `gmvault-v1.8.1-beta/bin/gmvault sync email@domain -d Backups/gmvault-db`

[code]

[2014-12-21 05:14] jprice opened #184 "[Errno 13] Permission denied: '/usr/local/lib/python2.7/dist-packages/httplib2-0.9.egg-info/top_level.txt'"
I get the following when I try to install via pip:

[code]

[2014-12-25 00:18] HaoZeke opened #185 "Encryption Bug"
This happens whenever the -e flag is used. Otherwise things are ok. Arch Linux. gmv-1.8.2

=== Exception traceback ===
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/gmv/gmv_cmd.py", line 759, in run
    self._sync(args, credential)
  File "/usr/lib/python2.7/site-packages/gmv/gmv_cmd.py", line 677, in _sync
    restart = args['restart'], emails_only = args['emails_onl

[2015-01-12 15:52] grondinm commented on #158
Not sure why i'm only noticing this now but a gmv-1.8.2 branch exists in the repo. Building/installing with this branch seems to fix this issue...for me at least running arch 64-bit.

[2015-01-14 12:37] stp-ip commented on #158
I am running gmv-1.8.2 branch and get a UnicodeEncodeError from mbox. Not sure, if it is a library bug.
Here is the error:
[code]

I tried to find the label (I assume it is due to unicode within a label) and found another UnicodeEncodeError:
[code]

[2015-01-14 13:43] stp-ip commented on #158
Fixed the issue for me temporarily by renaming my label "ß" to "ss" and resyncing (full mode) all mails on top of the old db. Now no unicode issues persist it seems. Still a code fix would be appreciated.

[2015-01-14 21:09] stp-ip opened #186 "Add quiet mode"
Add --quiet as cli argument option.
This reduces sync and export output so it can be savely used within a cronjob and still store the logs. Instead of accumulating 30mbs per run.

[2015-02-02 14:24] amannn opened #187 "OAuth1 for Google accounts is going away on April 20, 2015"
Also see: here https://support.google.com/accounts/answer/6140397

[2015-02-13 19:06] stephenjamieson commented on #170
[code]

I use this now

[2015-02-17 00:44] megrez7 opened #188 "GMVault project stauts"
Hi All,

I am planning to deploy some kind of gmail backup for myself and recommend and install for few friends as all of them come to me and ask for support.

However, I am little bit worried about the project status. Is it still alive? Seems like there was no new features, not updates nor even any small change release for long months. If the project is no longer alive, there is no sense to donat

[2015-02-17 09:03] hongkongkiwi opened #189 "Error: Gmvault ssl socket error: EOF. Connection lost, reconnect.."
I'm trying to restore an archive of about 40,000 emails. Unfortunately after about email number 100 it consistently crashes the app with this exception

    Get XOAuth credential from /Users/myuser/.gmvault/blah@blah.com.oauth.

    Error: Gmvault ssl socket error: EOF. Connection lost, reconnect..

    === Exception traceback ===
    Traceback (most recent call last):
      File "/usr/local/lib/p

[2015-02-17 09:33] hongkongkiwi opened #190 "Error: Gmvault ssl socket error: EOF. Connection lost, reconnect.."
I'm trying to restore an archive of about 40,000 emails. Unfortunately after about email number 100 it consistently crashes the app with this exception

    Get XOAuth credential from /Users/myuser/.gmvault/blah@blah.com.oauth.

    Error: Gmvault ssl socket error: EOF. Connection lost, reconnect..

    === Exception traceback ===
    Traceback (most recent call last):
      File "/usr/local/lib/p

[2015-02-26 07:31] #190 closed

[2015-03-04 15:11] SerikASA opened #191 "Run on Windows (Python Installation from Pypi)"
Hi, guys !
I need help for running Gmvault on Windows (Python Installation from Pypi).
I have python 2.7.9 on Windows and installed gmvault-1.8.1-beta ( python setup.py install )
When I tried to start it I got error.

e:\>python gmvault
e:\Python27\python.exe: can't find '__main__' module in 'gmvault'

[2015-03-04 15:25] SerikASA commented on #191
I can not use the windows ready version because I have extra python scripts. Perhaps there is an option to call Gmvault with the parameters from the py script. ?

[2015-03-04 16:07] SerikASA commented on #191
I found it !

import gmv.gmv_cmd as runner
runner.bootstrap_run()

How I can add parameters ?

[2015-03-19 07:11] andrewspiers opened #192 "Anyone should be able to run the tests."
Hi, I tried bumping the version of IMAPClient to make pip install possible.
Installation worked, but I wanted to run some tests to see if this broke anything.

* I couldn't find any guidelines as to how to run the tests.
* The tests contain many references to "/homespace/gaubert/.ssh" and "/Users/gaubert". Does this mean tests will not run without your credentials? It would be good if that were no

[2015-04-03 00:06] wiseman commented on #179
Got the same error:

[code]

[2015-04-07 12:18] gaubert commented on #192
Hi I am working on a new version that will first fix the followings and later on a new version will provide additional fixes and features
- allow connection with oauth2
- support of latest imapclient
- deployment with pip and for windows and mac osx

I hope to have it ready within 3 weeks.

[2015-04-07 12:18] gaubert commented on #191
Hi I am back. I am working on a new version that will first fix the followings and later on a new version will provide additional fixes and features
- allow connection with oauth2
- support of latest imapclient
- deployment with pip and for windows and mac osx

I hope to have it ready within 3 weeks.

[2015-04-07 12:19] gaubert commented on #189
Issue cause by the email encoding. I hope to have it fixed for the next version.
To be released in 3 weeks.

[2015-04-07 12:19] gaubert commented on #188
Hi I am back. I am working on a new version that will first fix the followings and later on a new version will provide additional fixes and features
- allow connection with oauth2
- support of latest imapclient
- deployment with pip and for windows and mac osx

I hope to have it ready within 3 weeks.

[2015-04-07 12:19] gaubert commented on #187
Hi I am back. I am working on a new version that will first fix the followings and later on a new version will provide additional fixes and features
- allow connection with oauth2
- support of latest imapclient
- deployment with pip and for windows and mac osx

I hope to have it ready within 3 weeks.

[2015-04-07 12:20] gaubert commented on #186
ok I will add that

[2015-04-07 12:20] gaubert commented on #185
yep need to support another encryption lib.
I am working on a new version that will first fix the followings and later on a new version will provide additional fixes and features
- allow connection with oauth2
- support of latest imapclient
- deployment with pip and for windows and mac osx

I hope to have it ready within 3 weeks.

[2015-04-07 12:21] gaubert commented on #184
need to fix the deployment with pip

Hi I am back. I am working on a new version that will first fix the followings and later on a new version will provide additional fixes and features
- allow connection with oauth2
- support of latest imapclient
- deployment with pip and for windows and mac osx

I hope to have it ready within 3 weeks.

[2015-04-07 12:26] gaubert commented on #178
yes I agree to the fact that the public key could be used to encrypt the mails and only the private key could then decrypt them but this requires a different management and makes it more complicated.
I will see what can be done but it isn't a high priority issue for the moment.

[2015-04-07 12:28] gaubert commented on #190
This is due to an encoding issue. Try to remove the faulty email from the directory and restart the restore.

[2015-04-07 12:46] stp-ip opened #194 "Nice to see you back (Docker image)"
Hey,

Nice to have you back.
I made a docker image for easy usage of gmvault and would love to get a git verified image up and running with the coming version. If you wanna look into specifics: https://dev.seetheprogress.eu/seetheprogress/dockerfiles/tree/master/gmvault

Cheers

[2015-04-07 13:09] michaelstepner commented on #178
Thanks Guillaume.  I understand it's not at the top of your priorities, but I hope to see asymmetric encryption in a future version!

[2015-04-07 14:27] gaubert commented on #194
Cool I would be happy to use that dockerized version. Once I have finished the dev for the new version I will make some experiments with your docker dist.

[2015-04-09 12:17] ashleyblackmore commented on #170
Still necessary for installation. This is crazy. What the hell is up with pip?

[2015-04-09 12:56] gaubert commented on #170
Hi All,

I am working on a new version supporting OAUTH2 to be ready before Google
switch off the OAUTH support (20th of April).
The new version will use an updated IMAPClient and I will as well update
the setup.py. So that issue will disappear and Gmvault will be again easily
installable with pip.
Just wait a bit more for the new release. I am testing and so far it is
looking good.

On 9 April 20

[2015-04-09 13:56] gaubert commented on #192
Regarding the testing without credential as the goal of Gmvault is to precisely access a remote service I do not see how it could be validated without having to provide credentials. I could mockup everything but the benefit would be extremely small.
That said I could try to make up something with some credentials for a generic email account. It is a bit dangerous so I will see.

[2015-04-09 13:59] gaubert commented on #191
Hi on windows please install the package version with the installer http://bit.ly/1cdjLyv
If you want to use pip then you will have to wait because the pip install is broken due to IMAPClient

[2015-04-09 14:00] gaubert commented on #189
I could provide a test version for you if you wish too within one or two weeks. Let me know if you want it.

[2015-04-09 14:01] gaubert commented on #188
I am back. You can donate because I want it to live again

[2015-04-09 14:02] gaubert commented on #187
New version in test mode.

[2015-04-09 14:03] gaubert commented on #186
What logs would you like in quiet mode ?
Only errors and the final report ?

[2015-04-09 14:07] gaubert commented on #183
Gmvault seem to have a problem with the mail with imap id 2960.
I would need to see to understand. Alternatively if it is a spam email you could delete it.
I am also working on a new version that is fixing some unicode encoding issue which often is the source of issues similar to yours.
I could give you a new version within one or two weeks for testing purposes.

[2015-04-09 14:08] gaubert commented on #182
Remind me what you want ? An option to ignore labels when restoring emails ?
Is that correct ?

[2015-04-09 14:09] gaubert commented on #181
Hi Simon sorry for the late answer. If Google throttles you. You can then use the --resume option to restart your restore from where you were.

[2015-04-09 14:10] gaubert commented on #180
This will be solved by the new version I am working. I treated unicode labels differently.

[2015-04-09 14:14] gaubert commented on #179
@wiseman  For some reason the email with imap_id 76775 hasn't got a X-GM-MSGID.
Please go in the db directory and look for  it.
Enable the debug to get the Gmail id for that email and find it the gmvault db. Then have a look at it and send it to me if it isn't an important email. I will include it in my test suite.
Then you remove it for the moment from the gmvault-db and launch the restore again

[2015-04-09 14:16] gaubert commented on #177
@blankspot20 @lainy is right . They are restored but the Sent Mail wasn't probably visible.
I will close that issue

[2015-04-09 14:16] #177 closed

[2015-04-09 14:17] gaubert commented on #173
@frankcarey @madmack This is a unicode handling issue. I am working finally on a new version (to be released within 2-3 weeks) that will solve that problem. Let me know if you want to test it before the release.

[2015-04-09 14:19] gaubert commented on #169
ok I need to check that again

[2015-04-09 14:20] #136 closed

[2015-04-09 14:54] stp-ip commented on #186
One way would be to only remove the detailed per mail lines in quiet mode:
[code]

Or my preferred output.
Containing only starttime, account infos, processed email count and sync operation details (and errors):
[code]

[2015-04-09 15:00] stp-ip commented on #157
Could be a priority bug for v1.8.2, if I am right in recognizing it as a bug.

[2015-04-09 15:35] gaubert commented on #157
ok I need to check

[2015-04-10 01:35] hongkongkiwi commented on #189
That would be great :-)

[2015-04-10 09:58] gaubert commented on #179
I have not fixed the problem because I do not explain it but I catch the error and ignore the email for that run and as well print some debugging information.
So now it is not going to fail but it is going to continue processing the next email in the cleaning process and I might get some information regarding the issue next time it is encounterered if a user reports it.

@wiseman I propose to clos

[2015-04-10 12:38] gaubert commented on #158
@erikvanzijst @stp-ip and all Long time no see. I am back and I need your help here to solve that issue. I cannot just add change write(data) to write(data.encode('utf-8')) because it will create other issues. I can explain myself here. In your case the encode to utf-8 is straight forward because there was no decoding to perform prior to write the string in the file.

I have a reproducible case wh

[2015-04-10 12:47] gaubert commented on #158
I forgot to mention I have this exception because first you need to decode as unicode and then you have to encode as utf-8. It is when I decode that there is the issue.

[2015-04-10 14:48] #138 closed

[2015-04-10 14:51] gaubert commented on #154
This has been solved and will be released in the next version due in 10 days.

[2015-04-10 14:52] gaubert commented on #172
You have to disable compression that as been dropped by GMAIL.

[2015-04-10 14:53] #172 closed

[2015-04-10 14:53] #47 closed

[2015-04-10 14:54] #85 closed

[2015-04-10 14:54] #116 closed

[2015-04-10 14:55] #123 closed

[2015-04-10 14:56] #153 closed

[2015-04-10 14:56] #140 closed

[2015-04-10 14:56] #125 closed

[2015-04-10 14:57] gaubert commented on #143
OAUTH deprecated so close the issue

[2015-04-10 14:57] #143 closed

[2015-04-10 14:58] gaubert commented on #156
compression issue solved.

[2015-04-10 14:58] #156 closed

[2015-04-10 14:59] #188 closed

[2015-04-10 15:00] gaubert commented on #180
it is export. I had not seen it. It is not in a good state. It was developed by a contributor and I was never fully satisfied with it.

[2015-04-10 15:04] #154 closed

[2015-04-10 15:11] waldoj commented on #154
:+1: Thank you, @gaubert!

[2015-04-10 15:22] paulderdash commented on #154
Good news indeed.

On 10 April 2015 at 16:51, Guillaume Aubert <notifications@github.com>
wrote:

[2015-04-12 17:33] nattofriends commented on #140
Why was this closed?

[2015-04-12 18:12] gaubert commented on #140
It was open for two years so I thought you would never answer.
Please send me what you have instead of Chats with the japanese characters.
I will add it in the configuration and it should work.
Instead of Chats what is written with the Japanese interface ?

Thank you

On 12 April 2015 at 19:33, Timmy Zhu <notifications@github.com> wrote:

[2015-04-12 18:20] nattofriends commented on #140
It is written "チャット" without quotations.

[2015-04-12 18:46] gaubert commented on #140
Thank I will add it and hopefully it will work in the next version.
In the mean time you could add it in the conf file gmvault.conf which in
~/.gmvault.
Just add in [Localisation]

#example with Japanesechat_folder=[ u'[Gmail]/チャット', u'[Google Mail]/チャット' ]
Just replace the russian with the Japanese.
Let me know if it worked.

Thanks

On 12 April 2015 at 20:20, Timmy Zhu <notifications@github.com>

[2015-04-13 19:10] gaubert commented on #189
@hongkongkiwi What platform do you use (Win, Mac OS X or Linux ?)

[2015-04-14 12:28] #171 closed

[2015-04-14 12:33] gaubert commented on #158
Who wants to make a test to validate the next version ?

I have somehow fixed the problem. I try to guess the encoding with chardet and if it fails I use the ignore option of encode to eat the character such that the email can be saved.

In the next version I intend to move to python 3 and this should solve my issue because in python by default all strings are unicode so I will not have to decode

[2015-04-14 17:02] heloid commented on #182
​Yep, that's right.

Cheers,
Rob​

On 9 Apr 2015 15:09, "Guillaume Aubert" <notifications@github.com> wrote:

[2015-04-16 09:12] gaubert commented on #194
@stp-ip Do you want to test 1.9-beta ?
It is ready with support for oauth2

[2015-04-16 09:13] gaubert commented on #191
@SerikASA DO you want to test the latest version ? I can send you a preview version if you let me know which version you run

[2015-04-16 09:14] gaubert commented on #189
@hongkongkiwi Do you want to test a preview version ? Let me know your platform and I will send it to you

[2015-04-16 09:33] #181 closed

[2015-04-16 09:54] gaubert commented on #169
@stp-ip @urda I need to work on it and it will be in the next version as I want to releasse a new one soon. XLIST is still there at the moment.

[2015-04-16 11:08] stp-ip commented on #194
Will check it out in the next days.

[2015-04-16 19:01] gaubert commented on #179
@wiseman I did fix that issue.I will close it in the next release

[2015-04-16 19:01] #179 closed

[2015-04-16 19:02] gaubert commented on #170
Fixed

[2015-04-16 19:02] #170 closed

[2015-04-16 19:04] stp-ip opened #195 "Testing 1.9-beta"
Any specific tags to check out or should I just use the 1.8.2 branch? Feels counterintuative to test 1.9-beta on a 1.8.2 branch.

Give me a hint and I will work on updating the docker image and run my various backups for a test run.

[2015-04-16 19:07] gaubert commented on #195
Yep check 1.8.2. I am fixing few small issues right now. But you can pull
it and try it. Let me know if you spot anything.
As for the bad branch name yeah well for the next version everything will
be back in order :-)

On 16 April 2015 at 21:04, Michael Grosser <notifications@github.com> wrote:

[2015-04-16 19:08] #151 closed

[2015-04-16 19:09] stp-ip commented on #195
OK checking it out now. Will give feedback, when I have some ;)

[2015-04-16 19:10] gaubert commented on #195
Just push right now. Please have try and let me know.
Add support for oauth2 and unicode and utf-8 before saving on files.
The rest I have not touched because I want to release quick. I will fix the minor left issues in 1.9.1 very soon

[2015-04-16 19:11] gaubert commented on #195
Thanks for your help :-)

On 16 April 2015 at 21:04, Michael Grosser <notifications@github.com> wrote:

[2015-04-16 23:06] stp-ip commented on #195
Sorry it took a bit longer, but testing on my bigger test account was a bit slow (200k mails)

* general:
  * oauth2 clean usage !worked!
  * oauth2 switch !worked! (old auth was still available, but not used)
* sync:
  * --resume !worked!
  * updating (full run on already synced db) !worked!
  * syncing fresh database with 200k mails !worked!
  * unicode in mail body !worked!
  * unicode in mail

[2015-04-17 07:17] gaubert commented on #195
**A million time thank you for your testings. Extremely appreciated !!. See below my comments in bold. I will see if I can fix the custom request unicode issue**

Sorry it took a bit longer, but testing on my bigger test account was a bit slow (200k mails)

general:
oauth2 clean usage !worked!
oauth2 switch !worked! (old auth was still available, but not used)

**OK good**

sync:
--resume !worked!

[2015-04-21 09:20] manuelmeurer commented on #187
Will 1.8.1-beta continue working until this is resolved?
What's the ETA on 1.8.2 and 1.9?
Thanks for your work on this! :smile:

[2015-04-21 11:35] emmawinston opened #197 "X-GM-MSGID error"
Hi,

I'm attempting to use gmvault to back up email on OS X Yosemite, but about 8000 emails in I receive the following error:

Process email num 8800 (imap_id:67056) from 2010-02.
Error: 'X-GM-MSGID'.

=== Exception traceback ===
Traceback (most recent call last):
  File "gmv/gmv_cmd.pyc", line 759, in run
  File "gmv/gmv_cmd.pyc", line 677, in _sync
  File "gmv/gmvault.pyc", line 602, in sync
  F

[2015-04-21 12:41] gaubert commented on #197
Yes I know about it. It will be fixed in 1.9 that I will release today or tomorrow.

[2015-04-21 12:43] gaubert commented on #187
I am working to release 1.9 that should be ready by end of today or
tomorrow.

On 21 April 2015 at 11:20, Manuel Meurer <notifications@github.com> wrote:

[2015-04-21 13:49] manuelmeurer commented on #187
Awesome! :+1:

[2015-04-21 19:33] gaubert commented on #197
@emmawinston solved in v1.9. Please check new release

[2015-04-21 19:33] #197 closed

[2015-04-21 19:36] gaubert commented on #195
@stp-ip Please check new release v1.9.
Left open is unicode in label and export.
I will work on it for v1.9.1 but I wanted to release quickly 1.9

[2015-04-21 19:36] gaubert commented on #194
Please check new release v1.9. Will check your docker recipe now.
Thanks a million for your support.

[2015-04-21 19:37] gaubert commented on #191
@SerikASA fixed in v1.9 which has been released

[2015-04-21 19:37] #191 closed

[2015-04-21 19:37] gaubert commented on #189
Solved, please check new release v1.9.

[2015-04-21 19:37] #189 closed

[2015-04-21 19:38] gaubert commented on #187
Solved new version support Oauth2. Please check new release v1.9.

[2015-04-21 19:38] #187 closed

[2015-04-21 19:38] gaubert commented on #184
Solved new version support Oauth2. Please check new release v1.9.

[2015-04-21 19:38] #184 closed

[2015-04-21 19:39] gaubert commented on #183
Solved new version support Oauth2. Please check new release v1.9.

[2015-04-21 19:39] #183 closed

[2015-04-21 19:39] gaubert commented on #173
Solved new version support Oauth2. Please check new release v1.9.

[2015-04-21 19:39] #173 closed

[2015-04-21 19:42] gaubert commented on #158
@erikvanzijst @grondinm @kelvinhammond @ripdog @ellis @stp-ip Solved new version support Oauth2. Please check new release v1.9. It is a compromise because there is no complete solution for that problem as you need to guess the encoding to decode.

[2015-04-21 19:42] #158 closed

[2015-04-21 19:43] gaubert commented on #36
@WebSpider Nop I will close it

[2015-04-21 19:43] #36 closed

[2015-04-21 20:03] grondinm commented on #158
Thank you so much for keeping working on this.

[2015-04-22 07:33] gaubert commented on #158
You are welcome. Please report problems you would find so that I can fix
them.

Guillaume

On 21 April 2015 at 22:03, Marc Grondin <notifications@github.com> wrote:

[2015-04-22 07:57] stp-ip commented on #194
This were my dockerfiles for testing: https://dev.seetheprogress.eu/seetheprogress/dockerfiles/tree/gmvault-testing1.8.2/gmvault

[2015-04-22 11:28] gaubert commented on #194
Thanks I will try to deploy them on AWS.

On 22 April 2015 at 09:57, Michael Grosser <notifications@github.com> wrote:

[2015-04-23 17:25] michaelmior commented on #185
If this is relevant, I notice that this works the first time I run sync on an empty DB. It only breaks when I try to run again without clearing out the DB first.

[2015-04-27 19:18] gaubert commented on #185
@michaelmior encryption is broken on 1.9.0. I need to fix it in the next version.

[2015-04-29 15:08] dazbradbury opened #198 "KeyError: X-GM-LABELS - Causing GmVault to stop sync"
Love the potential of GmVault, but when trying to run a gmvault sync, we keep getting errors, after syncing anywhere from the first 500-3500 emails that state:
[code]

Latest (1.9)

Windows Server (Running on Amazon EC2 Large Instance)

Am using a sync of the format:

[code]

[2015-04-29 21:34] kgs opened #199 "UnboundLocalError: local variable 'detection' referenced before assignment"
I am using gmvault 1.9 while doing sync, from time to time I get following error:

[code]

[2015-05-04 08:50] gaubert commented on #199
@kgs chardet is used to find the encoding and it can return None (even if this is not indicated in the API). I have fixed that issue in v1.9.1.

[2015-05-04 08:55] gaubert commented on #198
@dazbradbury For some reasons, now the Gmail IMAP API can return an empty response.
I will modify the code to handle that issue and restart the request in case of issue.

[2015-05-04 09:00] kgs commented on #199
@gaubert yes, I can test it, but I am not sure if I can trigger this behaviour, although i can try :)

[2015-05-05 07:23] gaubert commented on #199
@kgs Ok great I will let you know in few days when it is ready. I want to modify a bit how I use chardet because it isn't really reliable.

[2015-05-05 08:32] gaubert commented on #195
@stp-ip I worked on the support for unicode in labels and I think I understand why it doesn't work in your case but would need more info from your side. Could you please run the sync --type custom -g "label:unicöde" with --debug and send me the console outputs up to the start of the synchronisation.
I should then see what is the language setting from your terminal. Thanks in advance

[2015-05-05 09:33] stp-ip commented on #195
[code]

[2015-05-05 09:35] stp-ip commented on #195
Furthermore I'm testing the 1.9 release with my docker image and will release it once testing is successful at https://registry.hub.docker.com/u/seetheprogress/gmvault/

[2015-05-05 09:52] stp-ip commented on #195
Will try the unicode from cli again with the latest changes from the 1.9.1 branch, after the container release.

[2015-05-05 10:39] stp-ip commented on #195
So far the container seems fine, except the gm-label issue: #198 and other known issues, such as #157, unicode via cli etc. WIll upload and move onto testing the 1.9.1 branch.

[2015-05-05 12:26] gaubert commented on #195
@stp-ip Ok I checked and your terminal encoding is not properly set because you are maybe login via a Windows (or another) Terminal to an remote machine via ssh.
Via the system variables the Term encoding provided is ANSI_X3.4-1968 but it seems to be something else as the decoding fails.
So here is what I will do in my pseudo code:

if not preset in configuration then
  getTerminalEncoding and try

[2015-05-05 12:27] gaubert commented on #195
I will try to prepare a new version for testing purposes tonight

[2015-05-05 20:05] gaubert commented on #195
@stp-ip Ok you can pull branch 1.9.1 to check the command line encoding.
https://github.com/gaubert/gmvault/tree/gmv-1.9.1
Try then to perform a custom synchronisation with gmail request: label:unicöde.
I am not sure Gmvault will be able to detect your encoding.
To check your local encoding do:
$>locale
You should see something like below but not UTF-8
LANG=en_US.UTF-8
LANGUAGE=en_US.UTF-8
LC_CTYP

[2015-05-07 07:57] gaubert commented on #195
@stp-ip any news regarding the testing ? Many thanks.

[2015-05-07 08:01] gaubert opened #200 "encoding issue while saving subject in metadata"
Bug due to again an encoding issue when storing email subject in metadata. See an example below

[code]

[2015-05-07 08:02] gaubert commented on #200
adding encoding guessing and conversion to utf-8 prior saving the text in the file.
fixed in 1.9.1

[2015-05-07 09:56] yo-que-se opened #201 "Error using two legged oauth"
Hello.
I'm using gmvault v1.8.1 beta.
I have problems using the two legged oauth with my corporte google apps accounts.
I send you the details:

Use gmvault-db located in G:\gmvault-db\db\account@mydomain.com.

Activate Gmvault db cleaning.
Authentication performed with Gmail XOAuth token.

Get XOAuth credential from ./.gmvault/account@mydomain.com.oauth.

Successfully read oauth credentials.

Con

[2015-05-07 19:27] gaubert commented on #201
2-legged-oauth doesn't exist anymore (as Oauth1 is gone) to allow syncing for an entire googleapps domain. However there is a way to solve the issue with a private key. I need to implement and test it. I hope to have it done and ready within one to two weeks.

[2015-05-07 19:29] gaubert commented on #198
@dazbradbury I have implemented a fix that I am testing. I am trying to reproduce the error but it isn't easy in my case ? Will let you know when I have a version available for testing.

[2015-05-07 19:30] gaubert opened #202 "encryption broken since v1.9"
Encryption doesn't work anymore. To be fixed

[2015-05-07 19:33] #58 closed

[2015-05-07 19:34] #77 closed

[2015-05-07 19:34] #63 closed

[2015-05-07 19:34] #71 closed

[2015-05-07 19:34] #72 closed

[2015-05-07 19:35] #73 closed

[2015-05-07 19:35] #74 closed

[2015-05-07 19:36] #124 closed

[2015-05-07 20:08] online commented on #77
@gaubert Sorry, that article is not available at the old address. Soon I will write a new one.

[2015-05-07 22:50] danward79 commented on #201
Glad that this is not just me ;-)

[2015-05-08 08:23] gaubert commented on #77
Please and I will link it again. Many thanks Guillaume

On 7 May 2015 at 22:08, Alex <notifications@github.com> wrote:

[2015-05-08 10:25] dazbradbury commented on #198
Sounds great - thanks!

From my experience it does seem somewhat sporadic, and not actually related to any individual email ID - so can imagine it's hard to reproduce. Just running again now (with the same code base on the same machine) and I can't reproduce - so perhaps Google changed something too?

[2015-05-08 14:01] gaubert commented on #198
I think they did change something because I cannot reproduce it anymore
while a week ago, it was much more frequent.
Anyway I will leave the fix and trigger the exception to be sure that it is
working correctly.

On 8 May 2015 at 12:25, Daz <notifications@github.com> wrote:

[2015-05-08 14:25] dazbradbury commented on #198
Sounds sensible - and thanks for the quick fix and responses!

[2015-05-10 11:27] judgej commented on #145
Just so I understand, if I backup several gmail accounts, will they - by default - be merged into one big backup directory? Are they not separated in some way?

[2015-05-10 11:37] judgej opened #204 "Alternative database format?"
Would (or could) any alternative database formats be considered or possible? Backing up an account with many 10s of thousands of emails quickly eats into disk space on many file systems. Each email results in two files, often both 1kbyte or less. A storage format that combines files, I feel, would make storage a lot more efficient.

For example, I have one account that backs up to a 10Gbyte databa

[2015-05-10 11:40] judgej commented on #204
I know little about the architecture of this application is at this stage, so have no idea if storage is a simple layer that can be switched in and out with alternatives in an extendable way.

[2015-05-10 11:53] stp-ip commented on #195
@stp-ip will do another test run on monday. Will get back to you then.

[2015-05-10 20:58] snefi opened #205 "gmail apps"
Hello
How can I use with google apps for all domain users?
I use the old version: gmvault.bat  sync user1@domain.com -d g:\userdb\user1\ -2 and auth with domain key.
how can config again for use domain key for all user.?
/sorry my English/

[2015-05-11 07:58] gaubert commented on #204
@judgej You are right and it is something to consider. In general Gmail backup stay pretty small few GB which nowadays are easy to handle. I am considering changing anyway the archive format for V2.0

[2015-05-11 07:59] gaubert commented on #205
@snefi It is something I am working on. I hope to be able to release it within the next 2-3 weeks.
See #201

[2015-05-11 08:03] gaubert commented on #145
Hi Jason,

Using the -d option you can change the gmvault-db default directory.
For instance, for the first email:
$>gmvault email1@gmail.com -d \mydirectory\email1-db

For the second mailbox:
$>gmvault email2@gmail.com -d \mydirectory\email2-db

Then the 2 mailboxes will be backed up independently.

Cheers,
Guillaume

On 10 May 2015 at 13:27, Jason Judge <notifications@github.com> wrote:

[2015-05-11 14:31] judgej commented on #204
Cool. I know little python, so cannot help much during development. However, I am here for testing.

[2015-05-11 14:44] judgej commented on #145
Thanks, that's good to know.

[2015-05-11 20:04] stp-ip commented on #195
[code]

locale (from docker image):
[code]

[2015-05-11 20:07] stp-ip commented on #195
Added setting locale to the gmvault docker image in the next revision:
[code]

[2015-05-11 20:27] stp-ip commented on #195
Even with locale:
[code]
I get a wrong encoding choice:
[code]

[2015-05-12 09:23] yaroshevych commented on #201
Is there any workaround for this?

[2015-05-12 11:25] gaubert commented on #195
@stp-ip ok so you have to force it with the option [Localisation]terminal_encoding='utf-8' in ~/gmvault_defaults.conf
Could you please have a try and let me know. You of course used the branch 1.9.1 ?
Many thanks

[2015-05-12 17:44] stp-ip commented on #195
Small update. I used the right branch, but not all your encoding commits it seems.
When utf-8 is set on the terminal it works as expected.
When nothing is set I get:
[code]
Which sounds right, but seems to fail and use the label "unic?de" even so it should use utf-8.

When using the forced encoding, it fails the same way:
[code]

Furthermore the config file had the option term_encoding='utf-8' set

[2015-05-12 19:27] stp-ip commented on #194
I pushed my latest images to the docker repository:
```docker pull seetheprogress/gmvault:testing``` for the 1.9.1 branch
```docker pull seetheprogress/gmvault:latest``` for the latest release (1.9 currently)

[2015-05-13 16:13] gaubert commented on #195
If your terminal is not properly configured, forcing the utf8 encoding might not work because the characters need first to be decoded with the right encoding and then encoded in UTF8. If the decoding doesn't work then the character is eaten. So the solution is to properly set your terminal encoding. So I would say it is working

[2015-05-13 19:54] gaubert commented on #195
@stp-ip there is a problem with the configuration file as it should be been overwritten. I will check it but not this week-end as I am not at home.

[2015-05-16 16:46] drcursor commented on #198
Just had the same issue :
     Process email num 121088 (imap_id:219296) from 2011-01.
     Process email num 121089 (imap_id:541145) from None.
     Error: 'X-GM-LABELS'.

[2015-05-18 08:14] gaubert commented on #198
@drcursor It has been fixed in 1.9.1 which has not yet been released.

[2015-05-19 23:52] wizeman opened #206 "UnboundLocalError: local variable 'encoding' referenced before assignment"
When testing branch `gmv-1.9.1` (up to commit ffc31893a687451df24f448624991ef60c42763e), I ran across this error:

[code]

Any ideas?

[2015-05-26 10:56] danward79 commented on #201
A work around would be useful, did you find one?

[2015-05-26 11:17] gaubert commented on #201
There is no quick work around as I need to implement the access to the
business google apps. I am working on it and will try to release something
fairly quickly.

Guillaume

On 26 May 2015 at 11:56, Dan <notifications@github.com> wrote:

[2015-05-31 17:13] GeoffMaciolek commented on #199
I'm experiencing similar behavior (1.9), except it looks like it's a bit more explicit on mine?

<pre>Process email num 59156 (imap_id:186536) from 2013-11.
Expected a bytes object, not a unicode object
Error: local variable 'detection' referenced before assignment.

=== Exception traceback ===
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/gmv/gmv_cmd.py", line 741, i

[2015-06-09 05:50] xjordanx commented on #154
I am having this error however I am RESTORING gmails from one account to another, different account. Most of them (about 8 gigs worth) restored okay, but now I get this repeated error every time at the same message.

I am using the latest gmvault and already it has the default setting to disable imap compression, so that unexplained fix above for the sync problem will not work for me.

Any ideas?

[2015-06-11 18:07] mrbarletta commented on #154
I am having the same issue here on ubuntu 14.04.

Is there any info we could provide? its around half way of the restore

[2015-06-15 07:05] davidpenn commented on #154
Having the same problem above as @xjordanx above.

Gmvault v1.9

Before to Append email contents
IMAP (abort) error message = command: APPEND => socket error: EOF. traceback:Traceback (most recent call last):
  File "gmv/imap_utils.pyc", line 117, in wrapper
  File "gmv/imap_utils.pyc", line 763, in push_data
  File "gmv/mod_imap.pyc", line 328, in append
  File "imapclient/imapclient.pyc", line 9

[2015-06-26 10:20] itogo opened #207 "restore fails in a while"
Hi,

I've been trying to restore recently backuped mailbox to the new one and got an error after processing a few hundreds emails:

Eugene-MacBook:bin ei$ ./gmvault restore *******@gmail.com --resume
[....]
Jun 25 23:02:02 Eugene-MacBook.local gmv_runner[30449] <Notice>: Pushing email body with id 1407299977163162301.
Jun 25 23:02:03 Eugene-MacBook.local gmv_runner[30449] <Notice>: Pushing email b

[2015-06-28 23:19] aaronthebaron commented on #207
I'm getting a similar error in 1.9. Here's mine with a bit more debug on:
[code]

[2015-07-03 15:02] rbrewer commented on #201
One workaround is to use the `--passwd` option, which works with a Google Apps domain on v1.9. Of course this requires that you have the password for the account, which might not be the case in a corporate deployment.

[2015-07-03 19:36] rbrewer commented on #198
I also saw this problem just now, but it went away when I restarted with `--resume`

[2015-07-03 21:31] danward79 commented on #201
Would that work, on a normal google account?

How is the fix coming along?

[2015-07-04 08:19] rbrewer commented on #201
@danward79 Not sure if you are asking me or @gaubert, but the `--passwd` flag will let gmvault work with any account that you have the password for: consumer Gmail or Google Apps for Work. I just used it for a Gmail->GAfW account transition, and it worked fine.

[2015-07-04 08:24] rbrewer commented on #198
In backing up 100K emails, I've gotten this error 5 times, each time requiring a manual `--resume`. @gaubert, any chance you could release 1.9.1 with the fixes you have now, and roll whatever changes are holding back a release into 1.9.2? I guess I could fork and just cherry pick the fix for this issue...

[2015-07-04 20:47] jelmok commented on #207
I have the exact same problem.  Here's the debug output.  Am using v1.9 of GMVault on Mac OS X 10.10.3(14D136).

Jul  4 21:42:47 Johns-MacBook-Pro.local gmv_runner[13868] <Notice>: Pushing email body with id 1478754833575586771.
Jul  4 21:42:47 Johns-MacBook-Pro.local gmv_runner[13868] <Notice>: Subject = =?UTF-8?Q?Out_of_Office_until_Monday_11/09/2014_Re:_Sterling_co?=.
Jul  4 21:42:47 Johns-MacB

[2015-07-06 02:02] hsgen opened #208 "gmvault error: 5d format: a number is required, not set"
I have no idea what to do. Was restoring my emails to a new email account and got this error message. What should I do?
Thank you

[2015-07-06 18:20] ahmgithubahm opened #209 "oauth2 file occasionally gets corrupted after a successful backup run"
I have some gmvault backup jobs that for the most part run fine, but I am sometimes seeing an error at the start of a run that seems to be a result of the oauth2 file having been left corrupt at the end of the previous, otherwise successful, run.

GMVault 1.9, running in a Python 2.6.6 virtualenv under CentOS 6.6 x86_64

An example of the error I get can be seen here: http://sprunge.us/RSVJ

Some

[2015-07-08 20:19] artooro commented on #201
@gaubert have you been able to get anywhere with the private key authentication method? I need to migrate a few hundred mailboxes from one google apps domain to another and if I could use this that would be perfect.

[2015-07-11 18:37] manuelmeurer commented on #209
I'm seeing this as well: `... "access_creation": 1436638983}6}6465107}`
When I deleted the file and authorized again, it looked fine: `... "access_creation": 1436639183}`

[2015-07-12 13:19] LeoFCardoso commented on #209
+1 to confirm this strange behavior. I recovered oauth2 tokens from local backup and it worked again until next run of backup and restore. A new auth only worked once, and got the same corrupted file again. Maybe it'a a new issue.

[2015-07-12 14:27] ahmgithubahm commented on #209
Rather than restoring the previous non-corrupt file, I am now doing this:

if egrep -q '}.+' "${OAUTH_TOKEN}"
then
	\mv "${OAUTH_TOKEN}" "${OAUTH_TOKEN}.corrupt--${RUNTIME}"
	\grep --perl-regexp --only-matching '{.+?}' "${OAUTH_TOKEN}.corrupt--${RUNTIME}" > "${OAUTH_TOKEN}"
fi

where, set earlier, OAUTH_TOKEN is the full path to the .oauth2 file (and RUNTIME is just a time stamp).  GMVault (and Gm

[2015-07-13 04:33] shivapreeta opened #210 "Error while restoring emails - Exception"
Hi

Pl help me asap as i need to restore within 2 days. The exception says:
Pushing email body with id ****
Applying labels to the current batch of emails
Error: %d format:  a number is required, not set

After processing 400 emails, i am getting this error. I tried resume option, still same error. Kindly help me asap.

[2015-07-15 15:13] robince opened #211 "Error: 'str' object has no attribute '__exit__' when trying to sync"
I get the following error and traceback when trying to sync a gmail account:

    Process email num 7 (imap_id:354617) from 2015-05.
    Error: 'str' object has no attribute '__exit__'.

    === Exception traceback ===
    Traceback (most recent call last):
      File "/usr/lib/python2.6/site-packages/gmvault-1.9-py2.6.egg/gmv/gmv_cmd.py", line 741, in run
        self._sync(args, credential)

[2015-07-15 16:24] anderscarling opened #212 "NULL character in mail body causes restore failure with error "abort: command: APPEND => Invalid character in literal""
My restore died with this error:
[code]

After some digging I realized that the issue was NULL characters in the message body. After manually removing the NULLs gmail accepted the message. The offending data was:
[code]

The message was synced from another gmail account just a few days earlier.

I would say that it's quite dicey to change messages automatically to fix this, but it might warrant a

[2015-07-16 20:27] davidshq commented on #150
Any updates on this front?

[2015-07-17 10:22] RianFL commented on #209
I'm having the same issue on Windows. My .oauth2 file ends with:
`"access_creation": 1437052381}reation": 1436870909}3}6436903}`

Cleaning up the json structure made the application work again, without having to re-authenticate.

[2015-07-18 15:26] nigelm commented on #209
I am seeing this too - running under python 2.7.9 on a FreeNAS box in a jail

I ended up deleting the oauth2 file and then reauthing - quicker than playing :-)

[2015-07-22 13:35] mhsmith opened #213 "Chinese Chats folder localization"
The folder name is "聊天".

The following worked for me:
`chat_folder=[ u'[Google Mail]/聊天', u'[Gmail]/聊天' ]`

[2015-07-25 10:39] chirag-jog opened #214 "Error while resuming restore of emails"
When i try to resume the restoration of my emails using the following command:
`./gmvault restore xxx.yyy@gmail.com --resume --apply-label "zzz-email"`

I get the following python traceback. I have tried this several times over a few days and all attempts to restore fail. Any insights would be useful here.

[code]

[2015-07-28 07:47] moshebomb commented on #154
I have this problem also, imap error.
My problem is how to enable_imap_compression=False ,

I am using linux  ubuntu lxde.. please help me thanks for

[2015-07-28 10:31] paulderdash commented on #154
So is the current version 1.9 not working for restore? Is there a
work-around? i.e. set enable_imap_compression=True?

On 28 July 2015 at 09:47, moshebomb <notifications@github.com> wrote:

[2015-07-29 01:28] mrbarletta commented on #154
@paulderdash  @moshebomb
I solved this issue moving the conflicting file, let the process run , check for the last ID (e.g.1498552751286555116)   and then do a :
<pre>find . -name 1498552751286555116*</pre>
and move the files away from the folder.

[2015-07-29 10:13] moshebomb commented on #154
@mrbarletta  yes I already did that, thank you for your post I realized what to do Kudos..
I already know how set  enable_imap_compression=false..

[2015-08-05 19:24] gaubert commented on #209
All, this is a bug. For some reason the flag w+ is not truncating correctly the file in some cases.
I have to do it differently. Anyway I have fixed that issue in 1.9.1 that should be release within the next two weeks now.

[2015-08-05 19:32] gaubert commented on #211
@robince which version do you use ? 1.9.1 ?
Do you use the encrypt option ?

In any case, set the --debug option and please send me via email the entire console output so that I can understand the source of the problem here.

Thanks

[2015-08-05 19:34] gaubert commented on #210
@shivapreeta What version are you using and on which platform ?
I need to get more info to help. Please re-run gmvault with the --debug option and send me via email the complete console output such that I can understand the source of the issue.

Thanks

[2015-08-05 19:35] gaubert commented on #214
@chirag-jog  What version are you using and on which platform ?
I need to get more info to help. Please re-run gmvault with the --debug option and send me via email the complete console output such that I can understand the source of the issue.

Thanks.

[2015-08-05 19:38] gaubert commented on #213
@mhsmith Thank you very much !!
I have added it in the configuration file for version 1.9.1.
Many thanks also for the donation !!

+1

[2015-08-05 19:39] gaubert commented on #202
Fixed in v1.9.1

[2015-08-05 19:41] gaubert commented on #208
@hsgen What version are you using and on which platform ?
I need to get more info to help. Please re-run the same gmvault command with the --debug option and send me via email the complete console output such that I can understand the source of the issue.

Thanks in advance

[2015-08-05 19:42] gaubert commented on #206
@wizeman Thanks I fixed it. 1.9.1 was not yet ready. It is expected to be released in two weeks.

[2015-08-05 19:43] gaubert commented on #207
All Ok I need to check. Give me couple of days. Thanks

[2015-08-05 19:45] gaubert commented on #212
@anderscarling Thanks. It seems to be an issue of imapclient. I need to think and see how I could mitigate that problem in any case. Give me more time. Thanks for the investigation anyway

[2015-08-05 19:48] gaubert opened #215 "exception when using --store-passwd with 1.9"
I'm running gmvault v1.9 using the password option (/usr/local/bin/gmvault sync USERNAME@COMAPANYNAME.COM -p --store-passwd

And I'm getting the following error

=== Exception traceback ===
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/gmvault-1.9-py2.7.egg/gmv/gmv_cmd.py", line 738, in run
    credential = CredentialHelper.get_credential(args)
  File "/usr/loca

[2015-08-05 20:50] robince commented on #211
Thanks, it is version 1.9:
~> gmvault -v
Gmvault v1.9

 I do use the encrypt option. I've sent the debug output in an email.

[2015-08-06 07:59] robince commented on #211
I just realised that I was using branch master which is out of date. I didn't realise development was taking place on a separate 1.9.1 branch. With that version it successfully gets past the problem email so I hope the problem is fixed. If so I will close the ticket when the current sync completes.

[2015-08-06 09:41] #211 closed

[2015-08-06 10:51] gaubert commented on #211
ok Robin. v1.9.1 is still in test but should be ready within the next two
weeks.

On 6 August 2015 at 11:41, Robin Ince <notifications@github.com> wrote:

[2015-08-07 13:20] gaubert commented on #213
I will close that one for clarity

[2015-08-07 13:20] #213 closed

[2015-08-07 13:25] gaubert commented on #207
@aaronthebaron @itogo There was a problem in 1.9 when applying non ascii labels. I have fixed it now on 1.9.1. I could produce a test version for you. Could you make a test for me ?
It seems that you are on windows. Is it correct ?

[2015-08-07 13:27] gaubert commented on #210
@shivapreeta It seems to be the issue that I had when applying non-ascii labels (which is very likely if you are from India). It has been fixed in 1.9.1. I can produce a test version for you. Are you on Windows ?

[2015-08-08 01:17] aaronthebaron commented on #207
I'm on Linux. I could definitely do a test, but it will be this weekend as
I'm getting on an airplane. Thanks!

On Fri, Aug 7, 2015 at 6:25 AM, Guillaume Aubert <notifications@github.com>
wrote:

[2015-08-09 12:45] gaubert commented on #207
@aaronthebaron On Linux please pull v1.9.1and test it. For me it working now. Let me know. Thanks

[2015-08-09 12:46] gaubert commented on #215
--store-passwd is broken since I had to move to oauth2. I think it isn't supported anymore. I will investigate

[2015-08-09 12:48] gaubert commented on #195
@stp-ip I have fixed that problem on 1.9.1. If I didn't here from you in the following days. I will close that issue. Million times thank you for your help.

[2015-08-09 12:59] gaubert commented on #215
ok now when you have activated the two step verification (or even all the time) you cannot use anymore your login/password for gmail.
You have to generate a password app and use it instead of your password with the options --passwd, --renew-passwd

See for more information:
http://www.howto-outlook.com/news/gmailoauth.htm

and for details on how to generate the passwd apps: https://support.google.

[2015-08-09 13:00] #215 closed

[2015-08-09 23:32] nicosilber opened #216 "HOW TO RESTORE MAILS JUST FROM A SPECIFIC LABEL"
Hello Guillaume,

I have a google apps email nicolas@silber.es and I have a label called "nico".

I want to backup only that label so that I can restore that label in my new email account backupsilber@gmail.com.

I tried to google my answer but was not sure about what to do:

What would be the command to execute?

a) gmvault sync -t custom -g "in:nico" nicolas@silber.es

or

b) gmvault sync --type

[2015-08-11 13:28] LelandTheG commented on #207
I have the same issue on 1.9, is there a work around for now? I need to restore a users gmail and its cutting off about 5 months of restore at the point of error.

[2015-08-11 14:54] emmawinston opened #217 "Restore fails with error 'TypeError: %d format: a number is required, not set'"
Hi,

I'm in the process of backing up a decade's worth of emails using gmvault. Export worked absolutely fine, I left the program running overnight to restore the mails to my backup account, and it's about 75% done. However, I can't get it to go any further - it stopped with an error some time during the night, and --resume gives the same error at the same point.

I'm using OS X Yosemite, and runn

[2015-08-11 14:59] nicosilber opened #218 "ERROR WHILE RESTORING EMAILS """format: a number is required, not set"""
Hello, I already backup a google apps account with success. There are 55k emails in total backup up.

Now I want to restore that 55k emails in a normal gmail account.
I am using the command gmvault restore backupsilber@gmail.com
The restore process starts OK without any problem and it continues like that for hours. But after 8 or 9 hours the restore process give me the following error: """format:

[2015-08-11 15:00] nicosilber commented on #218
Just for your info I am already doing --debug so I can send the log to you.
Thank you
Nicolas

[2015-08-11 16:15] aaronthebaron commented on #207
@gaubert It seems like it's still failing for me in the same place. Is there a way I can peel off the message for use as a test case for you?

[2015-08-11 19:36] gaubert commented on #207
@aaronthebaron Please send me output of your console once you have added --debug in your commandline. You could also pull v1.9.1 and try with that version. I believe this has been solved. Could you do that to help me ? Or I could send you a beta version of 1.9.1 if you are on a mac or windows machine. Let me know

[2015-08-11 20:06] gaubert commented on #217
yep there is a bug in 1.9 that I have solved in 1.9.1 I believe but this requires additional testing.
I have created a new 1.9.1 version for macosX here: https://www.dropbox.com/s/oqxlqmghs0pgydw/gmvault-v1.9.1-macosx-intel.tar.gz?dl=0

Could you test it for me. I have also change the installation for mac osx. Just untar the dir and launch gmvault. It is an executable and much simpler. Let me know

[2015-08-11 20:11] emmawinston commented on #217
Thank you for this. Unfortunately the executable exits immediately on opening with the following error:

[code]
Any ideas?

[2015-08-11 20:45] gaubert commented on #218
Ok there was an issue with the labels and I fixed it (See the other related issues).
I have created a windows alpha here:
https://www.dropbox.com/s/h9fxf2p46s1213d/gmvault_installer_v1.9.1.exe?dl=0

Could you please install it and try it. It might still be broken because it requires further testing. Let me know if you can try it and it is solves your issues.

Thks

[2015-08-11 20:47] gaubert commented on #217
@emmawinston you need to run it with the restore command

[code]

Let me know how it goes.

[2015-08-11 20:49] nicosilber commented on #218
Thank you,

[2015-08-11 20:53] emmawinston commented on #217
I can't run anything because the program immediately terminates when the executable is opened. I don't get the opportunity to run any commands. I had no problem doing so in the non-executable earlier version.

[2015-08-11 20:56] gaubert commented on #217
@emmawinston Have a look at the commands I sent you. You need to open a terminal and in the terminal type the cd command and then the ./gmvault command

Alternatively in your terminal you could also type:
[code]

Thanks

[2015-08-11 21:00] gaubert commented on #218
It should not be closed until you have tested and validated that it will work.

[2015-08-11 21:05] emmawinston commented on #217
Oh, apologies, I didn't realise it was run in the same way as the non-executable version.

Still getting a failure message. Here it is:

[code]

[2015-08-12 04:36] nicosilber commented on #216
Please answer me when you can

[2015-08-12 04:38] nicosilber commented on #218
Ok gaubert until now everything is running without the error. I will let you know if something happens.

Just for your info I am now restoring using this command:

gmvault restore backupsilber@gmail.com --debug

My question is: is it the same restoring with --debug than without --debug

The result is the same? or should I restore using without --debug?

[2015-08-12 12:36] nicosilber commented on #218
Hello Gaubert,

I could not finnish the restore. It gave me a new error.
i tried two times. Both times the restore process gave me error. Please look at the screenshot
![gmvault2](https://cloud.githubusercontent.com/assets/13722719/9223906/c2e91704-40d4-11e5-9181-d2c6f9611dcb.png)

At this moment I am trying for the 3rd time. If I have the same error I will upload another screenshot and also the l

[2015-08-12 13:39] nicosilber commented on #217
I had the same error!!
I am running --debug now so that I can send it to @gaubert

[2015-08-12 17:27] aaronthebaron commented on #207
@gaubert It's the same as before, but let me give you my steps first.

1. I pulled the gmv-1.9.1 branch
2. python setup.py install inside of a new virtualenv.
3. I ran this command: gmvault restore -d ~/gmvault-db [email redacted] --resume --debug

Here's the output:
Pushing email body with id 1449255964275765650.
Subject = Pivotal Stories for Dave and Tim.
Before to Append email contents
Appended

[2015-08-12 19:43] gaubert commented on #217
@emmawinston @nicosilber Ok let's try again. I didn't copy the right version yesterday sorry !
https://www.dropbox.com/s/e1apv28wl5trigh/u1-gmvault-v1.9.1-macosx-intel.tar.gz?dl=0

Let me know if it fixes your issues.

Thanks

[2015-08-12 19:49] gaubert commented on #216
@nicosilber Here is what you have to do:
[code]

Once downloaded just restore the gmvault-db where you did save the emails.

Donation always appreciated to support the project if it solves your issues.

Thanks.

[2015-08-12 19:51] gaubert commented on #207
@aaronthebaron There was a forgotten possible error case. I has been fixed now. Please pull again, try and let know.

Thanks

[2015-08-12 20:09] aaronthebaron commented on #207
You got it, it's working. Thanks!

[2015-08-12 20:18] nicosilber commented on #216
thank you , I will try!

[2015-08-12 20:19] nicosilber commented on #217
Hello gaubert...this new version you just send is for MAC?? I have windows 10....I dont know how to install a .tar.gz,...can you send an .exe?

[2015-08-12 21:48] nicosilber commented on #218
i have sent you the log of the error by email

[2015-08-13 13:19] gaubert commented on #207
@aaronthebaron Great ! Thanks for the testing.

[2015-08-13 13:21] gaubert commented on #218
@nicosilber Thanks. There was an issue with the previous version I sent you. Sorry.
Here is the new version that hopefully should solve the issue: https://www.dropbox.com/s/i7gubmmx4u71eg2/u1-gmvault_installer_v1.9.1.exe?dl=0

Could you please test it and let me know if it is working ?

Many thanks for the testing

[2015-08-13 13:53] nicosilber commented on #218
Ok Guillaume I will test it again.
Just for your info: 2 days ago you sent me an alpha version 1.9.1 to test: https://github.com/gaubert/gmvault/issues/218#issuecomment-130064510

The version you just sent me is the same one? or it's different? Just asking because both are v1.9.1
Thank you
Nicolas

[2015-08-13 16:40] gaubert commented on #218
@nicosilber It is a different one it is called u1-gmvault but when you install it, it will install itself as v1.9.1

Thanks for the time spent testing.

[2015-08-14 14:39] nicosilber commented on #216
Hello @gaubert I am trying to restore a specific label in my gmail called backupfinal and it is giving me the following error.

![gmvault](https://cloud.githubusercontent.com/assets/13722719/9276252/16e0267c-4279-11e5-8715-ef0e7bf022af.jpg)

Can you help me?

[2015-08-14 16:00] nicosilber opened #219 "QUESTION ABOUT SYNCING DIFFERENT GMAILS ACCOUNT"
Hello gaubert I have one question regarding syncing different account.
I know evey time I sync a gmail account all mails are saved locally in C:\Users\username\gmvault-db
What happens if I sync a new gmail account? This overwrites the previous backup? or it is made in a different folder?
Right now i finnished syncing one account and i want to sync another one...should i first save this folders bef

[2015-08-14 19:04] nicosilber commented on #216
After this error if I again execute

./gmvault sync --type custom -g 'in:mylabel' myemail@gmail.com

it will resume from the point it was disconnected or I should execute

./gmvault sync --type custom -g 'in:mylabel' myemail@gmail.com --resume

Please advice, thank you
Nicolas

[2015-08-16 11:23] jolafrite commented on #212
Hi

First thanks for your tool.

What is the current status for this issue ?
I have few emails I can't import because of ^@
I'm using the github version of gmvault.

I'm not familiar with python but if I can help I would be happy to do so.

[2015-08-16 12:35] jolafrite opened #220 "Error import with trailing null"
Hi

First thanks for your tool.

What is the current status for the issue #212 ?
I have few emails I can't import because of ^@
I'm using the github version of gmvault.

I'm not familiar with python but if I can help I would be happy to do so.

[2015-08-16 13:22] nicosilber commented on #218
Hello gaubert I wanted to let you know the problem was finally solved with your build
https://www.dropbox.com/s/i7gubmmx4u71eg2/u1-gmvault_installer_v1.9.1.exe?dl=0
Thank you very much!!!!!
Nicolas

[2015-08-16 13:22] nicosilber commented on #218
I think you can close this issue now : )

[2015-08-16 15:33] astrofrog opened #221 "Support Python 3"
At the moment, ``gmvault`` does not run on Python 3:

[code]

I'd be happy to help with supporting Python 3 if needed.

[2015-08-16 17:46] jolafrite commented on #220
I did find a way to solve this issue
It's not very nice but now I can import my emails

In the file [imap_utils.py]https://github.com/gaubert/gmvault/blob/1d9915cca9c3805cbc4051e308918e844ab15e1e/src/gmv/imap_utils.py#L763 line 763

I just add the following line to remove every null

[code]

Based on this conversation http://stackoverflow.com/a/12879473/1551610 null is forbidden in an email anyway

[2015-08-16 18:59] gaubert commented on #220
Ok I will add it tomorrow to treat all issues with null character. It will be included in 1.9.1

[2015-08-16 19:10] jolafrite commented on #220
It's the fastest solution I found in the few hours I got but I still have plenty of questions.
1- Does imap only fails if the null is at the end or also in the body
2- This replace might also remove \\0
3- I don't know if it's possible to find the null character instead of \0

[2015-08-18 19:51] gaubert commented on #220
@jolafrite I need to check this problem. I didn't have time yet but hope to do it this week.

[2015-08-18 19:52] gaubert commented on #221
@astrofrog Yes that would be great. Just create your own branch and start transforming the code to make it compliant. This shouldn't be too complex. Then we will have to think about unicode issues.

[2015-08-18 19:55] gaubert commented on #219
@nicosilber I would appreciate if you could send me an email for your personal questions instead of creating issue in Github everytime. You can also post on the mailing list and you will get an answer. Next time I will close the issue without answering. Thanks for the understanding.

For supporting a second account you have to use another gmvault-db dir with -d. Do gmvault sync --help and you will

[2015-08-18 19:56] gaubert commented on #218
@nicosilber very good

[2015-08-19 10:37] #219 closed

[2015-08-19 11:03] gaubert commented on #212
@anderscarling Do you still have that email with the null characters ? Could you please send it to me ?
I could create one but the best would be to do test with a real faulty one if possible. Thanks

[2015-08-19 11:05] gaubert commented on #220
@jolafrite Yes I checked and we should only clean non mime type parts so it isn't so straight forward.
Would you mind if it isn't too personnal sending me the email which has caused the issue to you ?
I would like to make some test with a real email. Merci

[2015-08-21 11:50] gaubert commented on #217
@emmawinston this has been fixed in the current 1.9.1

[2015-08-21 11:55] gaubert commented on #216
@nicosilber it seems to me that you are running multiple clients in parallel. Are you sure that the others were finished ? I did two additional tests for two different labels and it is working perfectly on Windows and Linux so I think that this is issue is coming for the way you use Gmvault

[2015-08-21 11:56] gaubert commented on #214
@chirag-jog fixed in gmv-1.9.1 see #218

[2015-08-21 11:56] gaubert commented on #208
@hsgen now fixed in 1.9.1 which is in testing. See #218

[2015-08-21 19:41] anderscarling commented on #212
@gaubert Sorry for my late reply. Unfortunately the original has been deleted. Sorry :/

[2015-08-22 12:19] jolafrite commented on #220
I actually have an eml right here and it's a spam so I'm ok with the content
How can I pm you the file ?

[2015-08-23 18:40] gaubert commented on #220
yes or send me an email.

Thanks

On 22 August 2015 at 14:19, Jonathan <notifications@github.com> wrote:

[2015-08-24 15:55] gaubert commented on #220
@jolafrite Did you send me the email ?

[2015-08-26 11:04] wizeman commented on #206
Using the latest commit (37c6904d1d6e957a1b8f506a843d87406509fe77) in branch `gmv-1.9.1`, I am still seeing this error:

[code]

I know version 1.9.1 is not released yet, but I am trying to use it because none of the previous versions work for me anymore.

[2015-08-26 11:58] gaubert commented on #220
@jolafrite I didn't get your email. Do you intend to send it ? Many thanks

[2015-08-26 12:00] gaubert commented on #212
@anderscarling I've added something to mitigate the issue in gmv.1.9.1. Would you like to test the version ? If you let me know on which platform, I can prepare a package for you. It seems that you are on windows. Is it correct ?

[2015-08-26 12:02] gaubert commented on #220
@jolafrite I've also modified version gmv.1.9.1 to mitigate that problem. Would you like to test it? If you let me know on which platform, I can prepare a package for you. It seems that you are on windows. Is it correct ?

[2015-08-26 12:03] gaubert commented on #216
@nicosilber I didn't get any answer. I will clause that issue.

[2015-08-26 12:03] #216 closed

[2015-08-26 12:04] gaubert commented on #201
@danward79 @rbrewer @yaroshevych This is the last thing to tackle in gmv1.9.1 before release.
I will try to work on it in the following weeks.

[2015-08-26 12:05] #195 closed

[2015-08-26 12:05] #180 closed

[2015-08-26 12:07] #133 closed

[2015-08-26 12:08] #84 closed

[2015-08-26 12:41] gaubert commented on #206
@wizeman Ok thanks. I think I have corrected the issue as your subject was already in unicode.
Anyway can I ask to pull the latest version of gmv-1.9.1 and make a new test and report any problems.

Thanks

[2015-08-26 13:38] anderscarling commented on #212
I could try it out, but as I have no issues with current version since I fixed the email and removed it (migrated it from one account to another then removed everything from the original account) I will probably not find anything.

I'm on OS X.

[2015-08-27 07:19] jolafrite opened #222 "No email id returned by IMAP APPEND command"
Hi

I am trying to restore a lots of emails
and now I get a loop with the error "No email id returned by IMAP APPEND" command
What could be the reason of that ?

Thanks

[2015-08-27 07:21] gaubert commented on #222
for some reasons GMAIL doesn't accept one of your emails. it is affecting more than one email ?

[2015-08-27 08:38] jolafrite commented on #222
yes actually when I delete one, the new one gives me the same message.
I tried 5 emails and gave up

[2015-08-27 12:45] wizeman commented on #206
@gaubert Unfortunately even after updating to commit b275305cbe108dc667a56c9c8bcf8220c3860d74, I am still seeing this error.

Last messages from the log:

[code]

[2015-08-28 15:05] shellyjang opened #223 "chats after Jan 2014 not sync"
I did a complete sync of both email/chats and for some reason there are no chats that took place after Jan 2014 in the chats/subchats- folder. Any idea?

[2015-08-29 12:01] gaubert commented on #152
solved in 1.9

[2015-08-29 12:01] #152 closed

[2015-08-29 12:02] gaubert commented on #223
@shellyjang chats after Jan 2014 are not available via IMAP Gmail anymore so they cannot be saved.

[2015-08-29 12:02] #223 closed

[2015-09-02 19:27] gaubert commented on #220
@jolafrite I've finally changed the code to handle the null characters. In case of error I try to clean the null characters brut force in the email because I didn't want to have to parse the email for the moment.
I have tested it with a faulty email and it worked. Could you make a test ? One more issue to fix and I will prepare 1.9.1

[2015-09-02 19:27] gaubert commented on #222
@jolafrite send me the log output with --debug. I would also need to see an email to understand.

[2015-09-02 19:29] gaubert commented on #206
@wizeman Ok I need to check that I have correctly fixed the issue. Give me a couple of days because I am busy.

[2015-09-03 11:10] #218 closed

[2015-09-03 11:56] gaubert commented on #206
@wizeman Ok I have checked and there are two problems. First, it seems that Gmvault has problems reading 1430246627622484413.meta. Is it corrupted, has got an encoding issue ? Could you if possible and not personal send me that metadata file and the corresponding email. I would like to do some tests with it to define how to react in case of issue. I could delete the metadata file and it will be re

[2015-09-03 15:03] gaubert commented on #222
@jolafrite Do you still have the problem ?

[2015-09-03 15:03] #212 closed

[2015-09-03 15:04] gaubert commented on #212
@anderscarling Ok I have closed the issue now. It has been fixed and verified by another user in gmv-1.9.1

[2015-09-07 16:37] shellyjang commented on #223
is there an alternative way to download the chats then?

[2015-09-08 18:53] gaubert commented on #223
@shellyjang Not that I know. Sorry

[2015-09-08 18:54] gaubert commented on #222
@jolafrite Hello one more call out and I will close that one.

[2015-09-08 18:58] gaubert commented on #221
@astrofrog Did you start working on it ? This is remove most of the unicode issues and that would be great.

[2015-09-08 18:59] gaubert commented on #220
@jolafrite Did not get any feedback from you. I did fixed it but would really like to have somebody else testing it.

[2015-09-08 19:02] gaubert commented on #217
fixed will close it now. I am in testing validation mode before launching the new version.

[2015-09-08 19:02] #217 closed

[2015-09-08 19:03] gaubert commented on #214
close it now

[2015-09-08 19:03] #214 closed

[2015-09-08 19:03] #220 closed

[2015-09-08 19:04] gaubert commented on #210
close it now

[2015-09-08 19:04] #210 closed

[2015-09-08 19:04] gaubert commented on #209
close it now

[2015-09-08 19:04] #209 closed

[2015-09-08 19:04] gaubert commented on #208
close it now

[2015-09-08 19:04] #208 closed

[2015-09-08 19:04] #207 closed

[2015-09-08 19:04] gaubert commented on #207
close it now

[2015-09-08 19:05] gaubert commented on #206
close it now

[2015-09-08 19:05] #206 closed

[2015-09-08 19:05] gaubert commented on #202
close it now

[2015-09-08 19:05] #202 closed

[2015-09-08 19:05] gaubert commented on #200
close it now

[2015-09-08 19:05] #200 closed

[2015-09-08 19:55] astrofrog commented on #221
@gaubert I haven't had a chance yet. I will have time again in October to try and work on this, but if anyone else wants to work on this in the mean time, please don't let me stop you! :)

[2015-09-09 00:33] jolafrite commented on #222
Hi, sorry very busy
In the couple of days I have to use gmvault intensively
I have a challenge, save and restore a 20GB email box
I will tell you if I get this error

[2015-09-09 07:01] manuelmeurer commented on #209
When do you think 1.9.1 will be ready?

[2015-09-09 07:19] gaubert commented on #209
next week I suppose. I need to update the web pages. Testing is going well
so far on 3 platforms.

On 9 September 2015 at 09:01, Manuel Meurer <notifications@github.com>
wrote:

[2015-09-09 07:23] manuelmeurer commented on #209
Awesome, thanks for your continued work on this! :smile_cat:

[2015-09-09 11:23] gaubert commented on #199
@GeoffMaciolek fixed in 1.9.1

[2015-09-09 11:23] #199 closed

[2015-09-09 11:23] #198 closed

[2015-09-09 12:31] emmawinston commented on #217
I'm still getting the error mentioned in my previous comment:

[code]

[2015-09-09 12:39] gaubert commented on #217
@emmawinston if you are on a mac you can try this one but I have not finished to package it: https://www.dropbox.com/s/oqxlqmghs0pgydw/gmvault-v1.9.1-macosx-intel.tar.gz?dl=0

Let me know how it goes

[2015-09-11 10:31] MrKWatkins opened #225 "Error: invalid literal for long() with base 10"
Hi,

I'm using Gmvault v1.9, release date 2015-04-21. Recently I upgraded my PC to Windows 10 from Windows 8.1. Ever since then Gmvault has been failing towards the end of the backup. It copies the emails down fine but then I receive the following error:

[code]
Deep-Thought is the name of my PC Gmvault is running on.

[2015-09-11 12:09] gaubert commented on #225
You have renamed one of the email file in the gmvault-db:
1508578268665945013-Deep-Thought
Deep-Thought is not a standard name. So you should remove that file from
the gmvault-db (remove 1508578268665945013-Deep-Thought.meta and
1508578268665945013-Deep-Thought.eml.gz).

On 11 September 2015 at 12:31, Kevin Watkins <notifications@github.com>
wrote:

[2015-09-11 13:02] MrKWatkins commented on #225
Yeah that was it. I backup my emails into my OneDrive - that will add the name of the machine name if there was a collision with the file on the server. Must've happened somehow when OneDrive resynced after I upgraded to Windows 10.

Thanks for your help!

[2015-09-11 13:02] #225 closed

[2015-09-11 13:46] gaubert commented on #225
@MrKWatkins ok very good

[2015-09-11 23:39] adept commented on #135
I think that this should be fixed by #224

[2015-09-12 13:55] gunerharun commented on #207
@gaubert I think I am having the same problem. I'm on a Mac. Would you be able to send me the beta version for mac?  Thank you

[2015-09-13 18:15] gaubert commented on #222
@jolafrite did you do the tests ?

[2015-09-13 18:16] gaubert commented on #207
yes please try that one and let me know:
https://www.dropbox.com/s/oqxlqmghs0pgydw/gmvault-v1.9.1-macosx-intel.tar.gz?dl=0

Thks

On 12 September 2015 at 15:55, gunerharun <notifications@github.com> wrote:

[2015-09-13 20:26] gunerharun commented on #207
Hello Guillaume,

Thank you very much for your email. I just updated to the beta and ran the
software. Unfortunately it got stuck in the same place. Here is where it
got stuck. Do you have an idea why it might be?

Best,

Harun

Sep 13 22:47:31 Haruns-MacBook-Air.local gmv_runner[8078] <Notice>: Before
to Append email contents

Sep 13 22:47:31 Haruns-MacBook-Air.local gmv_runner[8078] <Notice>:
Ap

[2015-09-14 08:36] gaubert commented on #207
@gunerharun Are you sure you used the beta version because normally the outputs should be much clearer ? Could you double check and re-run it completly with --debug activated and send me the logs because I thought to have covered those issues.
Thanks

[2015-09-14 19:49] gunerharun commented on #207
You are right. I was in the wrong folder,so I ran the old version again.
Now it got past the place it got stuck before.

Thank you very much,
Harun

On Mon, Sep 14, 2015 at 11:36 AM, Guillaume Aubert <notifications@github.com

[2015-09-14 19:59] gaubert commented on #207
Great, that's a relief. Thanks for the testing.

On 14 September 2015 at 21:49, gunerharun <notifications@github.com> wrote:

[2015-09-14 20:04] gunerharun commented on #207
It's a pleasure. Take care

On Mon, Sep 14, 2015 at 10:59 PM, Guillaume Aubert <notifications@github.com

[2015-09-27 09:31] jvhaarst commented on #204
I just did a search for options:
* [mbox](https://en.wikipedia.org/wiki/Mbox) : Single file, reclaiming space from deleted messages is expensive.
* [Maildir](https://en.wikipedia.org/wiki/Maildir),[MIX](https://en.wikipedia.org/wiki/MIX_(Email)),[mh](https://en.wikipedia.org/wiki/MH_Message_Handling_System), : Multiple files, so no real change with current situation.
* [sqlite](https://www.sqlite.

[2015-10-01 16:45] guaycuru commented on #185
Any news on this? I cannot use gmvault anymore since upgrading to 1.9 :\

[2015-10-03 19:17] arjunpunnam opened #226 "Gmvault failing"
Iam unable to navigate to the access grant page and later when I hit the return key in the terminal im seeing the below message
Token upgrade failed! Could not get OAuth access token.
 Did you grant gmvault access in your browser ?
=== Exception traceback ===
Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/gmv/credential_utils.py", line 112, in get_oauth_tok_sec
    fi

[2015-10-07 02:10] abetancort opened #227 "Getting an Exception when trying to sync by recalling the stored password under ver 1.9"
**Environment:**
Clean install Gmvault  v. 1.9 on a Synology x86 NAS using the standard Python package installation method from Pypi in a virtual environment isolated sandbox and using Python v. 2.7.10-14. Backing up an email from a Google Apps Free Edition (up to 100 users).

**Call:**

[code]

Error: **exit**.

**=== Exception traceback ===**

[code]

**=== End of Exception traceback ===**

[2015-10-14 18:28] mollocon opened #228 "Type error after 40,000 emails"
I've gotten about 40,000 emails in and only have 5,000 left, but --resume and --restart keep throwing the same error

=== Exception traceback ===
Traceback (most recent call last):
  File "/Users/Molly/anaconda/lib/python2.7/site-packages/gmv/gmv_cmd.py", line 745, in run
    self._restore(args, credential)
  File "/Users/Molly/anaconda/lib/python2.7/site-packages/gmv/gmv_cmd.py", line 621, in _re

[2015-10-15 22:31] marcelofernandez commented on #227
It happens to me as well.

[2015-10-15 22:58] marcelofernandez commented on #227
It was easy to debug and fix this one. Just delete ".read()" on this line: https://github.com/gaubert/gmvault/blob/master/src/gmv/credential_utils.py#L72

...because the .read() call on the file is redundant (it is made below, anyways).

It works fine like this:
[code]

[2015-10-16 02:35] abetancort commented on #227
Gracias / Thanks Marcelo.

Saludos,

Alfonso C. Betancort
móvil       +34 636 04 46 03
skype      alfonso.betancort
hangouts alfonso@betancort.net
Sent from my iPad Air using Google for Work...

El 15 oct 2015, a las 11:58 PM, Marcelo Fernández <notifications@github.com> escribió:

It was easy to debug and fix this one. Just delete ".read()" on this line: https://github.com/gaubert/gmvault/blob/ma

[2015-10-21 20:25] CumpsD commented on #227
Having the same problem here.

How do I apply this fix without waiting for a new release? I used ```pip install```

[2015-10-21 20:27] CumpsD commented on #227
Nevermind, edited it in lib and it worked with this fix, thanks :+1:

[2015-11-04 05:24] mattstein commented on #226
@arjunpunnam Try upgrading Gmvault, this looks like it's sending you to a deprecated authorization URL.

[2015-11-09 14:32] yo-que-se commented on #201
@gaubert have you been able to get anywhere with the private key authentication method?

[2015-11-16 18:48] thorrrr opened #230 "GMV keeps stopping after 250 emails no error nothing just stops"
GMV keeps stopping after a few thousand emails no error nothing just stops.

It logs in fine i just type

gmvault sync myemailaddress@gmail.com (i do type my actual email:)

I have tried it 4 times today but will not go any further????

I am on WHS 2011 as administrator  with lates version of GMV

http://pastebin.com/N48LxKWN

[2015-11-18 12:43] zabbal opened #231 "RFE: Follow XDG Base Directory Specification"
Would be nice if gmvault would follow specification for default configuration directory http://standards.freedesktop.org/basedir-spec/latest/

So the config should be in $XDG_CONFIG_HOME/gmvault instead of ~/.gmvault

[2015-11-21 14:21] lycans15 opened #232 "ValueError: No JSON object could be decoded"
Hello,

Hope you can help me regarding my issue about gmvault, I am now restoring my emails in my back up emails i created but an error occured. "ValueError: No JSON object could be decoded"
Hope you can help me with my problem on how to fix this issue.

This the complete error in terminal.

=== Exception traceback ===
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packag

[2015-11-25 10:37] Boronkee commented on #218
Hi there, i'm getting the same error as nicosilber, I tried to download the file that solved that but the link lead to a 404 :/

[2015-11-26 16:25] dalin- commented on #201
Upgrading to the latest version (1.9) solved this problem for me.

[2015-11-27 02:33] lycans15 commented on #212
hello, just want to ask how to resolve this issue? i am experiencing this kind of problem. no solution found so far. hope you can help me.

this is my error.

Pushing email body with id 1489527715689698925.
Received an IMAP abort error. Wait 1 second(s) and retrying.
Disconnecting from Gmail Server and sleeping ...
Reconnecting to the from Gmail Server.
Get OAuth2 credential from /home/moshe/.gmva

[2015-12-08 00:10] johndangerstorey commented on #199
I just downloaded and implemented version 1.9.1 and it's giving me a very similar error of
`UnboundLocalError: local variable 'res' referenced before assignment`

Here is the output

[code]

Any ideas?

[2015-12-09 20:53] johndangerstorey opened #234 "UnboundLocalError: local variable 'res' referenced before assignment"
I just downloaded and implemented version 1.9.1 of gmvault and it's giving me a very similar error referenced in issue (https://github.com/gaubert/gmvault/issues/199) - I left this same question here but because the issue was "closed" i'm guessing it isn't checked anymore.  Regardless, here is the output:

Pushing email body with id 1414150177260942940.
Error: local variable 'res' referenced befor

[2015-12-11 15:46] rflesner opened #235 "Error number 13 issue"
Hi,
I just downloaded and ran gmvault on my gmail account, and it got through about 80 to 85% of my mail and stopped. I then tried to do a resume, and it crashed with an "errno 13" error. I can't get it to go any further. I'm running this on a Windows 10 machine and the latest version of gmvault (1.9). Any help you can give me would be greatly appreciated. Below is the log from gmvault when I ran

[2015-12-14 14:32] maurizio-emmex commented on #227
Thanks Marcelo,
your fix works in FreeBSD too.

[2015-12-14 20:42] wandmdave commented on #222
Hi.  Thank you so much for this program.  It is very helpful.  However I am currently having the same issue jolafrite was having and wondered if you could help?  I have forwarded an email that I cannot restore (from the account I backed up) as well as the debug log file generated when trying to restore to the new account.

Troubleshooting I have done:
I had tried restoring once using gmvault 1.8.1

[2015-12-15 14:31] tyru commented on #198
@gaubert
I also met this error.
stacktrace is here:
https://gist.github.com/tyru/8e78c41f0af14ebdcf99

I suppose this may be fixed by checking the key exists like this?

Before
[code]

After
[code]

https://github.com/gaubert/gmvault/blob/1ae16137245854b2ed04574384d7b8acccbd45b0/src/gmv/gmvault.py#L486-L488

[2015-12-15 22:46] cbknutson commented on #185
+1 on this issue. I am broken since 1.9. Downgrade brings me back to Oauch1 unsupported by google.

[2015-12-18 06:45] hardvain commented on #88
Any Updates on this issue? I am getting the following error:

[code]

[2015-12-19 09:39] manuelmeurer commented on #209
Hi @gaubert, is there an updated release date for 1.9.1? :smile:

[2015-12-27 18:15] maneatingduck commented on #135
I can confirm that duplication of chats is still occurring in 1.9.1/master on Windows (running from github source), when doing a full sync. I assume that it can't find the existing item in the subchats-x folders, and creates a new file. Emails might work fine due to then having folder names based on metadata?

I have a lot of chats, so I can test setting the limit per directory to something larger

[2016-01-11 12:32] voipmonitor commented on #198
I have the same problem. Is it possible to release at least beta version (macos) I'm not able to get pass this error

[2016-01-17 23:59] agoode opened #236 "unnecessary conversion to utf-8 when syncing?"
I am testing a roundtrip operation, when I sync, then restore to another account, then sync again. I discovered this isn't always lossless. Sometimes, when the character set is not detected properly, bury_email will corrupt the output:
https://github.com/gaubert/gmvault/blob/master/src/gmv/gmvault_db.py#L447

I don't see the need for this. When I remove all the recoding, I am able to roundtrip suc

[2016-01-18 04:41] Gmail2016 commented on #172
Please help me. I really need to restore my emails as someone hacked my account. I have approx 25000 emails but thankfully I had used gmvault to backup my emails. however I am getting this error too (as mentioned above) and don't know what to do. Could someone please explain the steps to me and help me please.

![image](https://cloud.githubusercontent.com/assets/16752052/12383414/c615de0c-bdcb-11e

[2016-01-18 05:03] Gmail2016 opened #237 "Unable to restore emails from gmvault"
Please help me. I really need to restore my emails as someone hacked my account. I have approx 25000 emails but thankfully I had used gmvault to backup my emails. however I am getting this error again and again and don't know what to do. Could someone please explain the steps to me and help me please. I hope I have not lost my emails.

![image](https://cloud.githubusercontent.com/assets/16752052/1

[2016-01-18 06:21] Gmail2016 commented on #218
Hi could someone please send the file again. The file is not available for downloading.

[2016-01-19 04:13] Gmail2016 commented on #217
@gaubert - Please help me. I am getting the error below. I downloaded the 9.1 version, I was able to restore a few emails but then have been getting this error. I need to restore my emails in 2 days as my office wants to reformat all computers and after reformatting I do not know if I'll be able to save the gmvault files. I am using a windows OS.

![image](https://cloud.githubusercontent.com/asset

[2016-01-28 08:02] Gmail2016 opened #238 "Need gmvault latest version for windows os. 9.1 version gets terminated in between"
Please help me. I am getting the error below. I downloaded the 9.1 version, I was able to restore a few emails but then have been getting this error. I need to restore my emails in 2 days as my office wants to reformat all computers and after reformatting I do not know if I'll be able to save the gmvault files. I am using a windows OS.

![image](https://cloud.githubusercontent.com/assets/16752052/

[2016-01-28 08:03] Gmail2016 commented on #238
#217 - please give solutions

[2016-02-04 12:14] fmoyses commented on #217
@gaubert, Hi!

Could you deliver us a windows working package of the 1.9.1 version? I`m having this same error and the dropbox version is for mac only.

Thanks.

[2016-02-05 06:19] formaldehyde1950 opened #239 "RESTORE STOPS WITH ERROR"
Windows 8.1
sync is ok
restore stops when apply labels to a section of emails
Typeerror: xd format: a number is required not set

Tried to re sync, and then restore again, but same error?

[2016-02-05 06:22] formaldehyde1950 commented on #239
Sorry, this issue is with gmvault?

[2016-02-17 15:01] kusmierz commented on #198
@gaubert any chance to release 1.9.1?

[2016-03-02 10:45] paour opened #240 "OAuth URL malformed"
I want to restore a friend's backup to their account, and on the first attempt, Gmvault (1.9 / github's `master`) first tries running the auth in the local browser, but since my friend is distant, I quit the browser to use the URL that gmvault then generates.

However, Google complains the request is invalid:

[code]

(more parameters are missing for a proper OAuth request…

[2016-03-06 00:51] jfield commented on #212
Did you ever solve this? Getting something similar.

Before to Append email contents
IMAP (abort) error message = command: APPEND => Invalid character in literal. traceback:Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/gmvault-1.9-py2.7.egg/gmv/imap_utils.py", line 117, in wrapper
    return the_func(*args, **kwargs)
  File "/usr/local/lib/python2.7/dist-package

[2016-03-06 00:52] jfield opened #241 "Restore fails from Gmail to Google Apps."
Before to Append email contents
IMAP (abort) error message = command: APPEND => Invalid character in literal. traceback:Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/gmvault-1.9-py2.7.egg/gmv/imap_utils.py", line 117, in wrapper
    return the_func(*args, **kwargs)
  File "/usr/local/lib/python2.7/dist-packages/gmvault-1.9-py2.7.egg/gmv/imap_utils.py", line 763,

[2016-03-07 10:16] lycans15 commented on #212
@jfield remove the last email where errors occur.  you can remove that in gmvault-db, just search the id of the last email. then copy and cut and paste to other folder.

[2016-03-23 15:20] BAndonovski commented on #212
Unfortunately, this isn't solved, even if the issue's closed.

[2016-03-26 15:47] jeffbowen commented on #202
Any plans for a 1.9.1 release ever?

[2016-03-27 00:40] mustart opened #243 "unable python setup.py install or pip install gmvault in ubuntu linux"
I Cannot found linux binary for ubuntu as the src throught download page v1.9 README.txt referred.
It took some hard hours to install, because "python setup.py install" encounted error:
Traceback (most recent call last):
  File "setup.py", line 20, in <module>
    from setuptools import setup
ImportError: No module named setuptools

I have Python 2.7.9 (default, May 23 2015, 08:44:49)
[GCC 4.6.3]

[2016-04-03 18:53] gaubert commented on #240
fixed on 1.9.1. Just released.

[2016-04-03 18:53] #240 closed

[2016-04-03 19:27] gaubert commented on #239
Check the new version v1.9.1 as the problem should have been fixed. Let me know

[2016-04-03 19:28] gaubert commented on #238
Check the new version v1.9.1 as the problem should have been fixed. Let me know

[2016-04-03 19:28] gaubert commented on #237
Check the new version v1.9.1 as the problem should have been fixed. Let me know

[2016-04-03 19:31] gaubert commented on #235
Check the new version v1.9.1 as the problem should have been fixed. Let me know

[2016-04-03 19:33] gaubert commented on #232
Check the new version v1.9.1 as the problem should have been fixed. Let me know

[2016-04-03 19:33] gaubert commented on #227
Check the new version v1.9.1 as the problem should have been fixed. Let me know

[2016-04-03 19:34] gaubert commented on #228
Check the new version v1.9.1 as the problem should have been fixed. Let me know

[2016-04-03 19:34] gaubert commented on #230
Check the new version v1.9.1 as the problem should have been fixed. Let me know

[2016-04-04 00:48] lycans15 commented on #232
Hello,
Thanks for the reply.
where  can i see the new version of v1.9.1? should i install this new version on my pc if yes, how?

Hope you can help me.
Best Regards,

[2016-04-04 01:12] lycans15 commented on #232
I already update my current version to v.1.9.1 when i restart or resume to restore my emails it's still they same.

here is the output:

Error: No JSON object could be decoded.

=== Exception traceback ===
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/gmvault-1.9.1-py2.7.egg/gmv/gmv_cmd.py", line 750, in run
    self._restore(args, credential)
  File "/usr/local

[2016-04-04 08:27] gaubert commented on #232
It looks like your have some corrupted or mission JSON object (.meta files) in the gmvault database dir.

You might have to delete the wrong JSON object. Do you used a network based disk service (like dropbox or a SAN ?)
I would redo a clean restore or a non network based network and restore that one.

Let me know how it go

[2016-04-04 08:28] gaubert commented on #243
ok I need to make a test on ubuntu to see what is available

[2016-04-04 15:13] lycans15 commented on #232
Hello,
I don't used a network based disk service. How to fix this?

thanks

[2016-04-07 10:16] ikhwani commented on #238
Hi gaubert,

I am having the same issue with version 1.9.1 on Ubuntu.

[code]

[2016-04-07 15:08] gaubert commented on #238
Could you re-run the same command with --debug and post the entire console
output.
It looks like you both have a corrupted metadata file

On 7 April 2016 at 12:16, Ikhwani <notifications@github.com> wrote:

[2016-04-09 02:23] ikhwani commented on #238
It doesn't always fail at the same message. If I run the restore command again, it will continue & successfully process the previously failed message. But at some point at another message it will stop again with the same exception.

Here is the debug output:
[code]

[2016-04-21 14:26] th1031 opened #244 "--quiet or --summary switch for crontab use"
Wondered if there had been any thoughts to providing either of these switches to minimize command line output but still provide enough information to show a successful backup. I like to run gmvault from a crontab and send the output to a logfile, which currently is pretty verbose.

[2016-04-27 13:50] Stufo76 opened #245 "gmvault_defaults.conf overwritten"
My conf:

[code]

Hi all,

I have to backup and restore daily, so I tried to change /root/.gmvault/gmvault_defaults.conf

[code]
but, if I run:

`gmvault sync -type quick -d /my/db/folder myemail@mydomain.com`

gmavault says:

[code]

and $HOME/.gmvault/gmvault_defaults.conf was overwritten with defaults.

Same for restore.

How can I permanent change sync and restore of last 24 hours?

Or, can I

[2016-04-30 14:53] ahmgithubahm commented on #129
This one's gone very quiet.  :-)  @srvg did you get any further with this?

[2016-04-30 16:56] srvg commented on #129
I didn't, and I'm sorry for that, but too many other things going on, to make further investments here atm.

[2016-05-19 16:12] brownrc commented on #201
Is there some documentation on how to use the google apps support for domain wide use? The only thing I see so far is you have to authorize it as each individual user. Was the private key method implemented?

[2016-06-03 09:12] matheus1111 opened #246 "Restore error with 1.9.1"
Hi
I’m trying to restore my database email that I’ve backup but I have the following error
Pushing email body with id 1437845721884722102.
Error: [Errno 13] Permission denied.

=== Exception traceback ===
Traceback (most recent call last):
  File "c:\Users\toto\Dev\gmvault\build\gmv_runner\out00-PYZ.pyz\gmv.gmv_cmd", line 750, in run
  File "c:\Users\toto\Dev\gmvault\build\gmv_runner\out00-PYZ.pyz

[2016-06-04 03:29] migueldeicaza commented on #238
I am experiencing a similar issue, here is the  relevant part of the log:

[code]

[2016-06-16 22:34] migueldeicaza commented on #246
I am having the same problem

[2016-06-19 03:41] emichael commented on #73
I don't see any mention of attachments in the docs. In fact, this issue was the only thing I could find about them.

[2016-06-23 09:58] niawag opened #247 "GMVault behind a proxy"
Hi, I'm trying to set up GMVault on a Synology NAS behind a proxy.
The Auth part worked without a problem but it won't sync and returns this error:

[code]

Is there a way to make GMVault work behind a proxy?

[2016-07-04 16:03] endolith opened #248 "IOError: [Errno 2] No such file or directory"
2 accounts synced successfully, but the other keeps failing with the error

[code]

Shouldn't it create any folders or files it needs?

[code]

[2016-07-04 19:57] endolith commented on #248
There was a `1258031168566452298.eml.gz` file though.  I deleted it but that didn't help.

[2016-08-04 02:43] nonliable opened #250 "No token.sec in .gmvault"
Hello. I started backing up my emails with the encryption feature on, but I found no token.sec file in the .gmvault folder. I started over a couple of times, the file did not appear. Maybe it can be somewhere else? My Gmvault version is 1.9.1, the system is Mac OS 10.11.5.

[2016-08-05 01:31] aa755 opened #251 "read-only access to gmail"
I am concerned about the possibility of losing data due to possible bugs in gmvault. Most likely there aren't such bugs, but I only wish to use gmvault to backup my email and would therefore, by the principle of least privilege, would prefer that gmvault only request read-only permission to gmail.

Is there a way to configure gmvault to only request read-only permissions?

[2016-08-09 10:25] Sandra016 commented on #218
Many users like me keep facing issues while operating Gmvault.
So I went searching for an alternative to Gmvault & found a well-written article on [Gmvault errors](http://sysc.org/gmvault-alternative/) and solutions to those errors.

This blog post helped to efficiently save my Yahoo emails locally.

[2016-08-10 06:57] ysfomo opened #252 "it takes too much time"
this is my first time using gmvault

I am using gm gmvault to backup my email

I have around 30000 email and 83 GIG of emails on my gmail account

the syncing of my email is going on for the past 5-6 days and only 8000 email has been stores around 8 GIGS

I use to stop the syncing once in a while cause it look like gmvualt is not giving me the progress of the backup

my issue is

when I restart th

[2016-08-10 07:04] ysfomo commented on #252
sorry last massage 50 emails in the last 30 minutes

[2016-08-13 19:32] jasonanovak opened #253 "Consistently get "Error: Lookup failed" message."
I had been using gmvault successfully with my gmail account on a different computer.  I changed computers, and I installed gmvault on it using pip, and then tried to run a full gmvault sync to bring my gmail hosted account down to that computer.

I successfully get the OAUTH token for my 2FA account through the gmail interface, but I consistently get the following error message when I try to sync:

[2016-08-13 19:40] jasonanovak commented on #253
Never mind, figured out the error.

[2016-08-13 19:40] #253 closed

[2016-08-17 18:24] dhruvkar opened #254 "Error when Restoring: "ValueError: invalid literal for long() with base 10: '1465731051386476817 (1)'""
I'm not able to restore a backup. The backup is from a Google Apps account. The restore is to a Gmail account. This folder is backed up by Google Drive. The backup went by with no errors, in one run.

[code]

[2016-08-18 21:34] dhruvkar commented on #254
So I found out gmvault is naming files with a "(1)" appended right before the extension.
Not sure if this is a gmvault thing or Google Drive, as my entire drive is backed up constantly.

[code]

[2016-08-18 21:36] dhruvkar commented on #254
Paused Google Drive sync, deleted those (30 or so) files. Now the restore is working.

[2016-08-18 21:36] #254 closed

[2016-08-19 00:42] dhruvkar commented on #254
It WAS a [Google Drive issue](https://productforums.google.com/forum/#!topic/drive/XJzVGC868DQ/discussion) on OSX.

[2016-08-19 09:08] wsw70 commented on #243
The same issue exists on Ubuntu 16.10 (xenial) with Python 3.5 and an install via `pip` (`gmvault` version 1.9.1).

[2016-08-19 09:52] tobbez commented on #251
Auth scope doesn't seem to be configurable, but you could try setting
[code]
in `src/gmv/gmvault_const.py` of your copy of gmvault.

[2016-08-20 23:10] aa755 commented on #251
I get an error after entering the google-generated code in gmvault:

[2016-08-22 04:24] tmancill commented on #243
I ran into the error `ImportError: No module named setuptools` on Ubuntu 16.04 LTS, but was easily able to get around it by installing the `python-setuptools` package:

    sudo apt-get install python-setuptools

And then running the install:

    sudo python setup.py install

After which `gmvault -h` and `gmvault -v` are healthy save for the [harmless warning](https://github.com/gaubert/gmvault/b

[2016-08-22 17:19] michaelmior commented on #50
This doesn't directly solve the problem, but you could use [trickle](https://github.com/mariusae/trickle) which can limit the bandwidth used by arbitrary commands. It would certainly be nicer if this was an option to gmvault though.

[2016-08-23 02:11] tmancill commented on #238
I am running version 1.9.1 on Debian and seeing this same error as well at seemingly random points during an attempted restore.  The first run died after pushing 1239 messages, then 129, then 4256.  I checked the metadata for the last message id displayed and it looked fine.  I believe the problem is pointed out in the debug provided by @ikhwani:

If the code falls through [this test](https://gith

[2016-08-24 07:00] sonisharma opened #256 "Error: argument of type 'NoneType' is not iterable"
Hi,
I have been getting the following error message repeatedly when I try to restore my email to a new email account:

Error: argument of type 'NoneType' is not iterable.

=== Exception traceback ===
Traceback (most recent call last):
  File "c:\Users\toto\Dev\gmvault\build\gmv_runner\out00-PYZ.pyz\gmv.gmv_cmd", line 750, in run
  File "c:\Users\toto\Dev\gmvault\build\gmv_runner\out00-PYZ.pyz\gmv.

[2016-08-25 03:59] tmancill commented on #256
Hi @sonisharma .  I was running into the same problem because the IMAP utility class wasn't retrying when the result returned is `None`.  The patch in PR #255 resolved the issue for me.

[2016-09-07 16:28] krainboltgreene commented on #253
Why not tell people the fix?!

[2016-09-20 23:33] weakish commented on #247
gmvault works with proxychains.

[2016-09-21 11:00] niawag commented on #247
Ok, I'll try that, thanks for your help!

[2016-09-28 14:08] jeffbowen commented on #202
Looks like 1.9.1 was released March 31, right after I asked. Ha. Nice.

[2016-10-07 13:23] LeoFCardoso commented on #245
This is a bad behavior of this great app.
Workaround is playing with "custom" type of sync and use "imap_req". For instance (as in docs):

$> gmvault sync --type custom --imap-req 'Since 1-Nov-2011 Before 10-Nov-2011' 'foo.bar@gmail.com' -c no

[2016-10-22 17:17] patrickboeert opened #259 "Restore fails with "Error: create failed: '[CANNOT] No folder name given. (Failure)'. ""
I am restoring into Gmail, after backing up from Google Apps.

`./gmvault restore -d ~/gmvault-db first.last@gmail.com --resume`

fails after pushing about 40 emails with

[code]

What did I do wrong?

[2016-10-23 00:13] Aydenkeller opened #260 "Problem with the v1.8.1-beta version"
Hi,

I've tried installing and launching Gmvault v1.9.1 on my MacBook but it didn't work (no /bin folder), so I downloaded the v1.8.1-beta version.

I wish to back up my Gmail inbox onto an external hard drive, so I've downloaded and unzipped the file exactly where I wish the data to be, and then I used to Terminal to position myself at that place too.

After going to the /bin directory and typing

[2016-10-24 13:31] fred9176 opened #261 "Export to mbox : mails are not displayed correctly"
Hi,

I synced and then exported a mailbox to mbox format.
I then copy the mbox files in THunderbird (directly in Locale folders or through Import/Export extension).

All the mails and folders are here but mails are not readable : they have no subject, sender is MAILER-DAEMON and date is the date of the mbox file. The body of the mails is also not correct as it shows the source of the mail.
![image

[2016-10-24 14:36] fred9176 commented on #261
It works fine when gmvault is ran from Ubuntu 16.04.

[2016-10-24 19:36] spinegar commented on #253
What was the fix?

[2016-10-28 11:12] sorokod commented on #243
At the very least, a documentation bug. See http://gmvault.org/install.html#install , "Python Source Installation"

[2016-11-06 10:39] sprig commented on #104
Hello,

I would like to take this idea a step further, and ask how feasible it would be (assuming space is of no concern, or at least of secondary concern) to implement a kind of journaled sync mode, so that after the initial sync, further syncs would be stored in a form of changelogs/diffs, allowing one to see what was the state of their email at a given point in time.

Thanks in advance!

[2016-11-08 18:20] Eddy149 opened #262 "Quick Mode: Quick_days"
Hi All,

I'm trying to set quick_days to 120 to restore only the last 4 months of emails, rather than all my emails since the start of time (a lot!).

However it doesn't seem to be working. Everytime i edit quick_days in the "gmvault_defaults" file and then run gmvault restore it changes the value to 10 and then restores the last month of emails, rather than the last 120 days.

Anyone know how to

[2016-11-14 12:40] ovizii opened #263 "Error: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)>."
As reported in the Google Group I'm adding this as an issue. https://groups.google.com/forum/#!topic/gmvault-users/ATJYg4sZNOc

Running gmvault 1.9.1 on freeNAS which is based on freeBSD. ran perfectly for more than year.

[code]

[2016-11-18 10:22] samuelbosch commented on #263
I'd like to add that I'm getting the same error on Windows 7 (new user).

[2016-11-18 14:55] eriknstr opened #266 "License mismatch"
Hello, I just wanted to point out that the commit that added the license had the commit message "add GPLV3 licensing", and each source file has the same statement at the top which corresponds with this the commit message:

However, the license file attached at the root of the repository is not the GPLv3 license but the Affero GPLv3, which is a different license. The FSF says at https://www.gnu.org

[2016-11-18 18:03] toyg opened #267 "Stored password does not work"
qtkdnthqcmmexqgmI installed gmvault 1.9.1 in a python 2.7 virtualenv (with `python setup.py install`).
Then I created an app password in gmail. The first sync works fine with this command:

    Use gmvault-db located in /path/to/my/mail-db.

    Activate Gmvault db cleaning.
    Create defaults in /home/myuser/.gmvault/gmvault_defaults.conf. Please touch this file only if you know what to do.

[2016-11-18 20:37] nk8 opened #268 "How does this work with 2FA?"
I am looking to use this, but my Gmail account has 2FA. Can we add documentation for this, or let us know that it's not yet supported? Thanks!

[2016-11-18 21:34] Keith-S-Thompson opened #269 "Why is src/sync.readme encrypted?"
`file src/sync.readme` reports "Vim encrypted file data".

Apparently the encryption was applied in revision `524259a6`, 2012-07-03, "protect sync.readme".

I don't see anything that indicates what the encryption key might be.

Why is it encrypted? And if there's a good reason to encrypt it (while earlier versions are readable), why include it in a public repo?

If nothing else, I suggest includin

[2016-11-18 21:37] Keith-S-Thompson opened #270 "Possibly valid e-mail addresses in README.md"
The top-level `README.md` file uses `foo.bar@gmail.com` in its examples.

It's very likely that somebody has that e-mail address. By publishing it, even as an example, you could expose the owner to a higher level of spam.

The usual convention is to use `...@example.com`, but that won't work here since it's gmail-specific.

I suggest registering a gmail address and using it in the examples.

[2016-11-18 23:06] ketzacoatl opened #271 "[question] Is it possible to access exported emails without gmvault?"
Let's say I sync my gmail account locally, can I use my text editor, another mail client, or similar tools, to access those emails, or is gmvault primarily/solely focused on backup/restore to gmail?

[2016-11-18 23:29] chevillet commented on #268
It works perfectly with 2FA, I've been using it for a while.
I'm not 100% sure about this but, if I remember correctly, the configuration process for 2FA was the same.
When you copy/paste the URL given by Gmvault while initializing, the 2FA stuff is handled in the browser while granting Gmvault.
After, you don't need to worry about it as long as you don't revoke Gmvault access to your account.

[2016-11-18 23:48] nk8 commented on #268
Great, thanks @chevillet :)

[2016-11-18 23:48] #268 closed

[2016-11-19 05:38] joh1234 commented on #238
Great, thanks. https://goo.gl/JBljdR

[2016-11-19 05:38] joh1234 commented on #243
Great, thanks. https://goo.gl/JBljdR

[2016-11-19 08:15] xZeroMCPE commented on #271
yeah

[2016-11-19 08:16] xZeroMCPE commented on #270
True, but....

[2016-11-20 00:46] zertrin commented on #244
Duplicate of issue #186 ;-)

[2016-11-21 00:09] jc21 opened #272 "Error: Cannot find global 'Drafts' folder.."
[code]

This is a google apps account.

I do indeed have a "Drafts" folder in the list in my Gmail account, however the filter displayed for it is "in:draft" so I'm pretty sure this check needs to include "draft" as well as "Drafts", if it's even needed at all.

In any case, I can't use gmvault due to this.

[2016-11-23 18:13] sidick commented on #270
Example.com could be used if you pretend it's a google apps account ;)

[2016-11-23 20:37] ketzacoatl commented on #271
TY!

[2016-11-23 20:37] #271 closed

[2016-11-28 23:20] lalinsky commented on #245
This is fixed here - https://github.com/gaubert/gmvault/pull/273

[2016-11-29 09:44] thibaultmol commented on #127
has this been fixed yet?

[2016-11-29 14:11] dmd commented on #127
It would be really nice to have this fixed.

[2016-12-01 06:20] shireeshj commented on #201
Has there been any progress on this? I too am looking for a solution where all accounts of an entire Google Apps domain can be backed up.

I am not a Python programmer, but is there any way I can help in taking this to closure?

[2016-12-01 14:24] dalin- commented on #201
@shireeshj I'm pretty sure that this is working in the latest version (unless your google apps is set up differently than mine).

[2016-12-01 14:27] dalin- commented on #201
@shireeshj @brownrc
I suggest opening a new issue, because this one (getting Google Apps to work after the removal of 2-legged-oauth) is solved.  What you're describing seems to be a different (backing up an entire domain).

[2016-12-01 21:32] jantman opened #274 "Feature Request: Symlink Labels"
I just found gmvault and have to say it's AMAZING. I was about to write... more or less the same thing... myself (and in Python) so I'm really glad I found it.

It's really handy that the DB is stored in plaintext, but one thing that I really wanted this for was the ability to grep through my backups locally, or through a specific Label.

What I'm proposing is that, with an optional CLI flag or co

[2016-12-02 02:49] shireeshj commented on #201
you are right. It works for a single google apps account without a hitch.

I'll log another issue for the domain wide feature. Thanks

[2016-12-02 02:59] shireeshj opened #275 "support domain-wide backing up of Google Apps (G Suite) accounts"
We can now backup GApps account's, one account at a time. It involves opening a browser window to grant OAuth2 privileges for each account that needs to be backed up.

I am wondering if we could have a feature to backup an entire GApps domain (or accounts listed in a config file), without having to grant OAuth2 privileges for each account.

This will allow us to schedule a cron job to backup all i

[2016-12-04 04:45] hamhock commented on #263
gmvault-1.9.1-3 on arch-linux-64 (4.8.11-1-ARCH)

I was also getting these same errors, but ran this command and it solved it:
`gmvault sync --type quick me@gmail.com --renew-oauth2-tok`

[2016-12-04 14:36] bfred-it commented on #56
What ever come out of this? I've been trying to set this up via Fuse and s3fs-fuse but it's not working yet :(

[2016-12-04 15:07] gonzofy opened #276 "Problems when trying to connect to Google oauth2 endpoint"
Thanks for writing gmvault! I've been using it successfully for a long time.

I'm getting 400 errors from Google now.

I'm using v1.9.1. I have been using it successfully since it was launched and have changed nothing about the installation, so I assume Google changed something. For example, Google might have changed the API for its oauth endpoint. Yesterday and today I've had issues with gmvault

[2016-12-04 16:16] fregante opened #277 "S3 sync"
As a follow-up to #56:

`s3fs-fuse` didn't work for me and Transmit.app's "Mount (S3) as disk" feature was insanely slow (10 email/minute on S3 vs 160 email/minute on disk). This might have to do with the overhead of doing every operation through S3 as opposed to just uploading.

I wish that gmvault would handle this autonomously (or by plugging into [`aws-cli`](https://github.com/aws/aws-cli))

A

[2016-12-08 23:23] kendoori opened #278 "New Windows 7 Install with 2nd Factor Authentication Causes Lookup Failed"
Attempting new install. User has gmail with 2nd factor authentication.

After installing software, against the account and issuing: gmvault sync foo.bar@gmail.com the system sends me to the web to authenticate, I get a paste the code, but the screen echoes back Error: Lookup Failed

You can see the transaction below.. the user is normally US-based, but is in Europe right now...

![selection_663](h

[2016-12-12 20:11] neodem opened #279 "Cannot read oauth credentials"
- What version of Gmvault do you use ?
1.9

- On what Operating System (Linux flavour, MacOSX, Win7/XP/Vista) ?
Mac OSX 10.10.5 (Yosemite)

- Type of requests (Bug, documentation issue, features) ?
feature/documentation?

- Explain the request subject (issue details, feature details):
I'm running gmv using a mac launchd config and it's having trouble accessing the stored token. I've got the user c

[2016-12-14 13:26] forthrin opened #280 "Bug? Norwegian 8 bit characters converted to unknown 16 bit values"
Norwegian characters with 8 bit charset encoding are in some cases converted to unknown 16 bit values (*not* UTF-8 equivalents!)

1. Why are characters converted at all? Shouldn't gmvault do a 1-1 replica of the original mail data?
1. If they must be converted, how am I supposed to display the email correctly on the local machine?
1. If this is a bug, please handle accordingly.

[code]

[2016-12-16 19:18] LPHebert opened #281 "Error: argument of type 'NoneType' is not iterable."
1- Gmvault v1.9.1
2- Windows 7 Professional
3- Bug

== Processed 2640 emails in 1h 17m 2s. 3363 left to be restored (time estimate 1h 38m 8s). ==

Processing next batch of 80 emails.

...
Pushing email body with id 1519476572414769630.
Error: argument of type 'NoneType' is not iterable.

=== Exception traceback ===
Traceback (most recent call last):
  File "c:\Users\toto\Dev\gmvault\build\gmv_runn

[2016-12-19 18:39] bricep commented on #263
I am getting this error in Windows 10... first time attempting to sync. I tried the above renew token command as well. It seems this is between Google and the app.

[2016-12-20 16:46] ashikul commented on #281
Os9kZOOoss9999999ss

[2016-12-31 11:15] nowox opened #282 "Unable to grant gmvault access"
Right after this message I opened my browser, copied the link then pasted it on my terminal.

[code]

Unfortunately the `enter` key doesn't do anything and I am stuck in this mode. After pressing Ctrl+C I am back to my shell and the echo is still off.

I have Gmvault v1.9.1

[2017-01-02 16:05] gaubert commented on #263
@ovizii what version of python is installed on your NAS ? I guess python 2.7.9 or above ?
Please advise.

[2017-01-02 16:32] ovizii commented on #263
I had/have Python 2.7.12 - had because I created a new jail, setup gmvault from scratch and am back to a working installation but the old jail will have had the exact same version.

from my side this issue can be closed.

[2017-01-02 20:53] gaubert commented on #263
@ovizii Ok in any case in the branch gmv-1.9.2 I added an option to disable SSL cert verification when somebody is using 2.7.9 and 2.7.10. It will be in the next release

[2017-01-02 20:54] gaubert commented on #263
Will mark it as fixed in gmv-1.9.2

[2017-01-02 20:57] gaubert commented on #282
You have to copy the link in your browser URL box and click enter. Then you will get a generate token that you have to copy in the terminal and press enter

[2017-01-02 20:57] gaubert commented on #282
user mistake

[2017-01-02 21:00] gaubert commented on #270
If you own the foo.bar@gmail.com address you are clearly already receiving some spam. So I will leave it as it is.

[2017-01-02 21:22] lawsonmcw commented on #263
I've been waiting to see if there was a fix for this issue.  I'm running Python 3.5.1 and see the same thing.    Looks to me like something changed on Google's end.  When I attempt to sync I see:

gmvault-shell>gmvault sync xxxxxxx@gmail.com

Use gmvault-db located in C:\Users\Lawson/gmvault-db.

Activate Gmvault db cleaning.
Create defaults in C:\Users\Lawson/.gmvault/gmvault_defaults.conf. Pleas

[2017-01-03 08:05] gaubert commented on #263
@lawsonmcw yep this is the same problem. I have added a fix in the branch gmv-1.9.2. Can you pull it and test it ? By default the error should still be there and you have the set the variable "disable_cert_verification" to True in the [GoogleOAuth2] group in the configuration file called gmvault_defaults.conf located by default in $HOME/.gmvault

[GoogleOauth2]
scope=https://mail.google.com/
... e

[2017-01-03 08:07] gaubert commented on #278
ok need to check

[2017-01-03 08:11] gaubert commented on #279
By default the oauth2 token will be stored in $HOME/.gmvault/gmailusername@gmail.com.oauth2.
It looks like the account name is not the right one.
normally you should type something like:
`$>gmvault sync user.name@gmail.com`
With the user.name@gmail.com being the gmail username you want to back up

[2017-01-03 08:16] gaubert commented on #274
@jantman Like the labels dir with symlinks idea. It could be an option activated from the configuration file.
Could you please implement it and make a PR. Please test it heavily. Please also think on what is going to happen if it is activated on an existing Database. The label dir should then be implemented. You have the brand new DB use case and the existing one to handle. It should also not take

[2017-01-03 08:19] gaubert commented on #269
This was my note file. I will remove it

[2017-01-03 08:19] #269 closed

[2017-01-03 08:25] gaubert commented on #248
@endolith For some reasons, the meta file for that email has disappeared or was not properly created. I will handle that error by ignoring that email (moving it to quarantine or deleting it ?, let's see). This will be in v1.9.2

[2017-01-03 09:46] gaubert commented on #260
Need to check if v1.9.1 is working on a recent Mac

[2017-01-03 09:50] gaubert commented on #231
Well this is for a particular case here at the moment as it isn't well spread on all Unixes.
Beside, you can also change the location of the .gmvault dir by setting the GMVAULT_DIR env variable.
Will close that one

[2017-01-03 09:50] #231 closed

[2017-01-03 09:51] nowox commented on #282
Well, not really a user mistake since I exactly did what you said:

1. `$ gmvault sync foobar@gmail.com`
2. Copy/Paste the link in Chrome
3. Authorized gmvault
4. Copy the authentication code
5. Pasted it in gmvault terminal
6. Doomed.

[2017-01-03 09:54] gaubert commented on #236
@agoode I had to force a UTF-8 conversion because often Gmail wasn't reaccepting the original email. If you have better suggestion then let me know.

[2017-01-03 09:54] #236 closed

[2017-01-03 09:55] #239 closed

[2017-01-03 09:55] #205 closed

[2017-01-03 09:55] #227 closed

[2017-01-03 09:55] #228 closed

[2017-01-03 09:55] #230 closed

[2017-01-03 09:55] #235 closed

[2017-01-03 09:55] #237 closed

[2017-01-03 09:55] #238 closed

[2017-01-03 09:56] gaubert commented on #222
@wandmdave @jolafrite fixed in v.1.9.1

[2017-01-03 09:56] #222 closed

[2017-01-03 10:34] gaubert commented on #199
@johndangerstorey ok tried to fix it in v1.9.2

[2017-01-03 10:36] gaubert commented on #281
Ok it should be fixed in v1.9.2. This means that there was an error while restoring an email (bad email) and somehow the GMAIL IMAP response was incorrect. Try to handle that now.

[2017-01-03 10:50] gaubert commented on #276
@gonzofy I had the same issue on an old account for testing and I had to renew the oauth2 token and now it works.
Please try to do the same and let me know

[2017-01-03 10:51] gaubert commented on #267
@toyg Ok need to try. I left that method but it is not recommended to use it anyway. I might remove it.

[2017-01-03 12:37] gaubert commented on #282
ok on which plateform are you ? (Windows, Mac OSX, Linux ?).
You also need to send me the console output such that I can understand what is going on and potentially reproduce it. Please also activate the debug with --debug
$>gmvault sync foo.bar@gmail.com --debug

[2017-01-03 12:59] gaubert commented on #246
@matheus1111 @migueldeicaza I would need you to send me more information to solve that issue.
On which plateform are you running gmvault (Win, Mac, Linux) ?
And with which python version.

Please re-run the restore with the --debug option and send me either the create log file or the console output when it fails and try to use the --restart option to restart from where it failed:

`$>gmvault resto

[2017-01-03 13:02] gaubert commented on #251
@aa755 @tobbez Gmvault doesn't ever delete emails in the mailbox box (only pull or push emails).

[2017-01-03 13:02] gaubert commented on #251
I could consider it as a feature but it makes the setup much more complete.

[2017-01-03 13:11] gaubert commented on #266
@eriknstr Thanks the test files had not been updated but all the rest was since 2013. The license is AGPLv3.

[2017-01-03 13:12] gaubert commented on #250
so I close it

[2017-01-03 13:12] #250 closed

[2017-01-03 13:13] gaubert commented on #252
@ysfomo you should do a full sync once and then only quick sync. Check the documentation and let me know if you need more help.

[2017-01-03 13:13] #252 closed

[2017-01-03 13:14] gaubert commented on #247
You have to setup the proxy externally and it will work.

[2017-01-03 13:14] #247 closed

[2017-01-03 13:15] gaubert commented on #261
@fred9176 I need some help to maintain that part do you Python ?

[2017-01-03 13:21] gaubert commented on #280
@forthrin it is not possible to have a 1-1 replica of the email because for some of them, GMail will not accept them. If you know that your email are iso-8859-1. You might want to try changing the encoding order.

in $HOME/.gmvault/gmvault_defaults.conf, there is the encoding guess list called
encoding_guess_list. Try to put iso-8859-1 first and re-backup (with sync) fully your account.

[Localisa

[2017-01-03 13:23] gaubert commented on #262
@Eddy149 There is a bug and the conf file is always overwritten at the moment.
Do you use Gmvault on Linux. If yes there is some hope otherwise you have to wait for v1.9.2

[2017-01-03 14:48] nowox commented on #282
Not much information though.

[code]

From this point I can type anything (even the correct code) and press enter and nothing happens.

[2017-01-03 15:59] gaubert commented on #282
What plateform ? Linux ? Did you change the starting script ?
What python version ?

You should also send me via email the /home/foobar/gmvault.log log file such that I can understand why you cannot enter any character ?

If you are on Linux what terminal and shell are you using ?

Thks

[2017-01-03 16:07] gaubert commented on #259
@patrickboeert You seem to have a label name that is not valid. I would need to check the labels of the email failing to be pushed.
Could you re-run the smae command with --debug

`./gmvault restore -d ~/gmvault-db first.last@gmail.com --resume --debug`

and send me the gmvault.log file created in your $HOME directory (on a MAC /Users/myuser.
Please send it to me via email.

Thks

[2017-01-03 16:27] gaubert commented on #260
ok @Aydenkeller I did a quick test with gmvault 1.9.1 from the download area and it works. Ignore v1.8.2 as it will never work since Gmail has changed is way to authenticate.

Here is what you have to do. Open a terminal in Applications/Utilies/Term

$>wget https://bitbucket.org/gaubert/gmvault-official-download/downloads/gmvault-v1.9.1-macosx-intel.tar.gz
HTTP request sent, awaiting response... 2

[2017-01-03 16:28] gaubert commented on #234
normally fixed in v1.9.2 to be released

[2017-01-03 16:32] gaubert commented on #232
@lycans15 there was a disk corruption somehow. Go the gmvault-db dir and delete the email eml.gz and .meta file for the failing email. It should be called id.eml.gz and id.meta with the id equal to something like 1150827300..etc.meta

[2017-01-03 16:36] gaubert commented on #278
@kendoori Was it the first time you tried to login on Gmail from that machine ? I guess so. You need to login first with a browser and then do your two step authentication from the browser.
After that you should be able to use Gmvault. I cannot overcome that problem. I can add more documentation.

[2017-01-03 20:31] kendoori commented on #278
I was able to trigger the backups from a different machine, so am good. Why don't you close this.

[2017-01-03 20:31] #278 closed

[2017-01-04 07:48] gaubert commented on #278
ok very good

[2017-01-04 07:48] #266 closed

[2017-01-04 07:48] #281 closed

[2017-01-04 07:49] #276 closed

[2017-01-04 07:49] #270 closed

[2017-01-04 07:50] gaubert commented on #256
fixed in v1.9.2. See #281

[2017-01-04 07:50] #256 closed

[2017-01-04 07:51] #263 closed

[2017-01-12 19:25] bjnath opened #285 "oauth2 fails with urlopen error"
I'm getting oauth2 errors when I sign in, but it's showing a message that I don't think has been reported before:

    Error: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)>.

I press ENTER, give gmvault permission, and copy the verification code as instructed.
The response is:

    Error: Problems when trying to connect to Google oauth2 endpoint: https://ac

[2017-01-13 14:47] gaubert commented on #285
yes it is fixed in 1.9.2 and I will release soon a new version

[2017-01-14 22:52] neodem opened #286 "decrypt"
Hello. Thanks for the blowfish encryption option.

My question is this : how can I decrypt a file individually? I'm on a mac and I've tried this:

$ gunzip 1093477997816914068.eml.crypt.gz
$ openssl enc -d -bf -in 1093477997816914068.eml.crypt -out 1093477997816914068.eml -kfile keyfile
 {with keyfile being a copy of .info/.storage_key.sec}

but I get : 'bad magic number'

thoughts?

[2017-01-15 17:38] matheus1111 commented on #246
Hi
I've tried with the new released here what I've now after having restored
4480 emails over 60K

Pushing email body with id 1445166607089353921.
Error: argument of type 'NoneType' is not iterable.

=== Exception traceback ===
Traceback (most recent call last):
  File
"c:\Users\toto\Dev\gmvault\build\gmv_runner\out00-PYZ.pyz\gmv.gmv_cmd",
line 750, in run
  File
"c:\Users\toto\Dev\gmvault\build\g

[2017-01-15 20:35] gaubert commented on #246
Hi,

Ok I need to check. I will get back to you in 5 days as I am very busy next
week.

Best regards,
Guillaume

On 15 January 2017 at 18:38, matheus1111 <notifications@github.com> wrote:

[2017-01-15 22:55] matheus1111 commented on #246
Thanks
I've launched a resume with the debug option, let see if I can see
something else
For the moment it seems to be working fine
I'll keep you inform
Kind Regards

2017-01-15 21:35 GMT+01:00 Guillaume Aubert <notifications@github.com>:

[2017-01-16 08:17] matheus1111 commented on #246
Hi Guillaume
Here is a new error I have

Unbury email with gm_id 1470553323115667309.
Pushing email body with id 1470553323115667309.
Subject = Re: mariage.
Before to Append email contents
IMAP (normal) error message = APPEND command error: BAD ['[TOOBIG] Message
too large. https://support.google.com/mail/answer/6584#limit']. t
raceback:Traceback (most recent call last):
  File
"c:\Users\toto\Dev\

[2017-01-16 14:47] afcuttin opened #287 "let the user set the destination folder"
I'd like to be able to set the destination folder of the backup

[2017-01-16 14:55] gaubert commented on #287
You can do it.

$> gmvault sync myemail@gmail.com -d /tmp/custom-dir

See below the usage of the tool when you do:
$> gmvault sync --help
 usage: gmvault sync [-h] [-t TYPE] **[-d DB_DIR]** [-y] [-p] [--renew-oauth2-tok]
                    [--renew-passwd] [--store-passwd] [-r REQ] [-g REQ]
                    [--resume] [--emails-only] [--chats-only] [-e] [-c VAL]
                    [-m] [--no-

[2017-01-16 14:55] #287 closed

[2017-01-16 15:07] afcuttin commented on #287
ok, thanks
I didn't see the `-d` option in the cli help

[2017-01-16 15:14] gaubert commented on #287
No problems. Your welcome.

On 16 January 2017 at 16:07, Alessandro Cuttin <notifications@github.com>
wrote:

[2017-01-16 15:19] gaubert commented on #246
It seems that since they are pushing Google Drive, Google has restricted the size of the attachments. It cannot be bigger than 25 MB. Can you check how big is the 1470553323115667309.eml.gz file uncompressed in the database  (gmvault-db/db). Do a find to look for the file.

For that I cannot do anything. What you can do is to quarantine the file move 1470553323115667309.eml.gz and 1470553323115667

[2017-01-16 15:31] afcuttin commented on #287
very fast support, indeed!
Now backing up my two accounts, and automated the task in crontab ;)

[2017-01-16 15:57] matheus1111 commented on #246
Hi
Yes you are right
25,7 Mo :)

2017-01-16 16:19 GMT+01:00 Guillaume Aubert <notifications@github.com>:

[2017-01-16 22:28] atppp commented on #135
Yes I can confirm @maneatingduck's comment, both being still an issue with 1.9.1/master and the analysis.

[2017-01-17 10:27] gaubert commented on #246
ok good. I will catch that error in the next version but I don't know what to do about it. I can only quarantine the email because it is too big. A more sophisticated plan could be to make the attachment persistent in Google Doc. But this is for the future.

[2017-01-17 10:27] gaubert commented on #287
Super !!!

On 16 January 2017 at 16:31, Alessandro Cuttin <notifications@github.com>
wrote:

[2017-01-17 10:29] matheus1111 commented on #246
Thanks again
Yes I think that automatically push the errors like this in quarantine
would be a good idea to avoid stopping the restore process
Thanks

2017-01-17 11:27 GMT+01:00 Guillaume Aubert <notifications@github.com>:

[2017-01-17 10:29] gaubert commented on #135
ok I need to have a look at that one. It is on my todo list for 1.9.2

[2017-01-18 10:07] matheus1111 commented on #246
Hi Guillaume
FYI
I have this kind of error too if it can help for upgrating gmvault in the
future (I'm like a beta tester :) )
Pushing email body with id 1473250625992543525.
Error: argument of type 'NoneType' is not iterable.

=== Exception traceback ===
Traceback (most recent call last):
  File
"c:\Users\toto\Dev\gmvault\build\gmv_runner\out00-PYZ.pyz\gmv.gmv_cmd",
line 750, in run
  File
"c:\Us

[2017-01-18 10:22] gaubert commented on #246
Thks this one has been corrected in v.19.2 . See #246

[2017-01-18 13:16] gaubert commented on #135
ok found the bug. Will fix it in the next coming days

[2017-01-18 17:06] strikerjjb opened #288 "Feature Request: Read Takeout MBox and sync"
I have a large Google Takeout Mbox file (16 GB) that would love to sync back to GMAIL but it chokes in firefox.  Could GMVault read this and sync it?

[2017-01-19 08:07] #232 closed

[2017-01-19 08:08] gaubert commented on #282
No answer ? I will close it in a couple of days if I don't get any support to solve the issue. Thks

[2017-01-19 08:11] nowox commented on #282
I'm late :) sorry about this. We got a huge bug at work and I don't have
free time to geek when I am back home. Hopefully I'll get some free time
this weekend.

On Thu, 19 Jan 2017 at 09:08, Guillaume Aubert <notifications@github.com>
wrote:

[2017-01-20 08:42] gaubert commented on #135
@atppp @maneatingduck @netvor @Nyr @neogenix @adept don't know why I missed that bug for so long :-1: Anyway I believe I fixed it and it will be 1.9.2 . Is one of you ready to test the beta version of 1.9.2 ?
Please let me know and on which platform you are and I will ship you next week the beta version.

Many thanks !!!

[2017-01-20 15:21] atppp commented on #135
I am on Mac. I could test gmv-1.9.2 branch this weekend if that's equivalent? Thank YOU for fixing it.

[2017-01-21 14:08] gaubert commented on #135
Yes you can do that or take the following functional gmv-1.9.2 version.
There are still few things to fix but it should work. It is available from
here:
https://www.dropbox.com/s/dkya69kkef9xwa9/gmvault-v1.9.2-beta-macosx-intel.tar.gz?dl=0

Let me know if there are some issues.

On 20 January 2017 at 16:21, atppp <notifications@github.com> wrote:

[2017-01-21 15:47] NewsGuyTor commented on #204
Another big advantage of a new database format would be to have way less small files, which massively decrease syncing/transfer speeds.

[2017-01-21 16:50] jvhaarst commented on #204
@csirmaz has already started work on this, look e.g. here :
 https://github.com/csirmaz/gmvault/commit/8cc70fccc36b1dcf60f857191d7fa7c55c3b853d

He doesn't store the mails itself in the database yet.

[2017-01-22 04:23] atppp commented on #135
Thanks @gaubert . It didn't quite work because the chat functions now return abs path while some other code paths expect relative path. I verified a fix (noted above) but it's pretty ugly so I don't even want to request a pull.. :)

[2017-01-22 11:03] gaubert commented on #135
@atppp the build process on mac seems to be broken but it was working when I tested it. If you have the logs of your issue that would be helpful. I will check. If you pull the branch and run it as a python prog it will work. Will let you know when the exe is ready

[2017-01-22 14:26] atppp opened #289 "IMAPClient requires higher version?"
On branch gmv-1.9.2, When I test with "python install.py setup" or with the binary built by "make gmv-mac-dist", I got the following error. The fix is to change IMAPClient version from 0.13 to 1.0.2 as noted at https://github.com/atppp/gmvault/commit/6b2660a93f6367b269ad5db823032d66b33ef5e2

...
Connect to Gmail server.

Error: 'module' object has no attribute 'create_default_context'.

=== Except

[2017-01-22 14:28] atppp commented on #135
Thanks @gaubert . The other commit I mixed in was a completely different issue which I separated to https://github.com/gaubert/gmvault/issues/289 . Sorry for mixing these up. I pushed a clean commit to demo my verified fix for this issue, although you might be able to come up with better way if you want.

[2017-01-22 19:59] gaubert commented on #289
Of course you need the last imap client version. I will update the setup.py. The issue should be different with the exe because in there you have the latest version embedded.

[2017-01-22 20:24] nowox commented on #282
Hey,

I have a good news for gmvault. the issue is not gmvault's fault. I can reproduce the same problem with this script:

[code]

As a workaround I can just manually get the permission_url and it works.

Now I have to understand why webbrowser suppresses the echo. This is very weird.

Thanks anyway.

[2017-01-22 20:24] #282 closed

[2017-01-23 08:23] gaubert commented on #282
For the missing outputs, I found an issue with the buffering of stdin,
stdout, stderr. I solved it in v1.9.2 that I am currently testing.
The outputs are not printed but you can still press enter, the browser is
launched and you can then enter the code.
Anyway this issue should hopefully be solved in 1.9.2 when I release it in
a couple of weeks.

On 22 January 2017 at 21:24, Yves Chevallier <notif

[2017-01-23 20:43] gaubert commented on #135
@atppp Ok I reviewed my copy as before I did it without refreshing my memory about the code logic. Now it should work. Please test with branch gmv-1.9.2.
Still have a problem to create a good Mac os X exe but I will solve it. Still need to fix the setup.py but I will do it tomorrow.
Let me know if you can test the chat sync. Many thanks.

[2017-01-24 03:39] atppp commented on #135
yup tested.. gmv-1.9.2 looks great now with chat syncing. thanks for fixing it.

(except a small syntax bug in setup.py :)

[2017-01-24 07:59] gaubert commented on #135
Yep I need to test the setup.py I haven't done it. Will do today or
tomorrow and will also work on the packaging.

On 24 January 2017 at 04:39, Xinan Wu <notifications@github.com> wrote:

[2017-01-24 18:31] matheus1111 commented on #246
Hi Guillaume
Quick Question
Just noticed something
is that normal that the resume doesn't restart from the last correct id

Pushing email body with id 1498967660317462600.
Pushing email body with id 1498967854387806441.
Pushing email body with id 1498968150771567804.
Error: argument of type 'NoneType' is not iterable.

=== Exception traceback ===
Traceback (most recent call last):
  File
"c:\Users

[2017-01-25 09:51] gaubert commented on #246
Yes, emails are batched restored by group of 80 emails if I remember
correctly and only this is the first email id which used to do the restart.
So this is normal.
Thanks for the help. Progressing on v1.9.2

On 24 January 2017 at 19:31, matheus1111 <notifications@github.com> wrote:

[2017-01-25 10:44] mozey commented on #150
To search email synced with `gmvault` a workaround can be to `gmvault export` to maildir format and then use [mu](http://manpages.ubuntu.com/manpages/wily/man1/mu-easy.1.html) to search for email or extract attachments. That's what I've done, having a built in feature for this would be a lot more convenient

[2017-01-25 12:44] gaubert commented on #226
yes. Will close it

[2017-01-25 12:44] #226 closed

[2017-02-01 17:09] migueldeicaza commented on #246
My issue happened on Mac.

[2017-02-05 14:02] gaubert commented on #285
@bjnath you can test the latest beta version here (beta windows and mac os x package available):
https://www.dropbox.com/sh/d5ceo77juacr03y/AACUGcTt6Um-6j6JmBizGPA2a?dl=0

or from the branch gmv-1.9.2

Help required for testing to see if I missed something. Many thanks for the testing.

[2017-02-05 14:03] gaubert commented on #289
@atppp  you can test the latest beta version here (beta windows and mac os x package available):
https://www.dropbox.com/sh/d5ceo77juacr03y/AACUGcTt6Um-6j6JmBizGPA2a?dl=0

or from the branch gmv-1.9.2

Help required for testing to see if I missed something. Many thanks for the testing.

[2017-02-05 14:04] gaubert commented on #262
@Eddy149  you can test the latest beta version here (beta windows and mac os x package available):
https://www.dropbox.com/sh/d5ceo77juacr03y/AACUGcTt6Um-6j6JmBizGPA2a?dl=0

or from the branch gmv-1.9.2

Help required for testing to see if I missed something. Many thanks for the testing.

[2017-02-05 14:04] gaubert commented on #248
@endolith  you can test the latest beta version here (beta windows and mac os x package available):
https://www.dropbox.com/sh/d5ceo77juacr03y/AACUGcTt6Um-6j6JmBizGPA2a?dl=0

or from the branch gmv-1.9.2

Help required for testing to see if I missed something. Many thanks for the testing.

[2017-02-05 14:05] gaubert commented on #246
@migueldeicaza @matheus1111  you can test the latest beta version here (beta windows and mac os x package available):
https://www.dropbox.com/sh/d5ceo77juacr03y/AACUGcTt6Um-6j6JmBizGPA2a?dl=0

or from the branch gmv-1.9.2

Help required for testing to see if I missed something. Many thanks for the testing.

[2017-02-05 14:06] gaubert commented on #245
@lalinsky @LeoFCardoso @Stufo76  you can test the latest beta version here (beta windows and mac os x package available):
https://www.dropbox.com/sh/d5ceo77juacr03y/AACUGcTt6Um-6j6JmBizGPA2a?dl=0

or from the branch gmv-1.9.2

Help required for testing to see if I missed something. Many thanks for the testing.

[2017-02-05 14:07] gaubert commented on #135
@maneatingduck @adept @netvor @Nyr  you can test the latest beta version here (beta windows and mac os x package available):
https://www.dropbox.com/sh/d5ceo77juacr03y/AACUGcTt6Um-6j6JmBizGPA2a?dl=0

or from the branch gmv-1.9.2

Help required for testing to see if I missed something. Many thanks for the testing.

[2017-02-05 14:10] gaubert commented on #282
@nowox

You can test the latest beta version here (beta windows and mac os x package available):
https://www.dropbox.com/sh/d5ceo77juacr03y/AACUGcTt6Um-6j6JmBizGPA2a?dl=0

or from the branch gmv-1.9.2

Help required for testing to see if I missed something. Many thanks for the testing.

Let me know.

[2017-02-05 18:54] matheus1111 commented on #246
Hi Guillaume
I'll try it this week and get back to you
Kind Regards

2017-02-05 15:05 GMT+01:00 Guillaume Aubert <notifications@github.com>:

[2017-02-05 21:31] bjnath commented on #285
Thank you for the update! The operation completed without the error message, and I saw my most recent email in the backup.

One thing seemed strange: running the gmvault sync --resume command over again gave me the same messages (Process email num 0...). Tried it a few times, always the same.  Of course, I don't normally do this, so it may be expected behavior.

 Thank you again.

-----Original Me

[2017-02-06 13:05] gaubert commented on #246
@matheus1111 @migueldeicaza Please wait before to test. I have discovered a restore side effect bug (it will not damage your email box. No worries).
I will let you know when it has been fixed. Sorry about that

[2017-02-08 13:20] gaubert commented on #285
@bjnath Ok will test the resume to be sure it is working. Thanks.